<%= form_for @benefit, :html => { :class => "form-horizontal benefit" } do |f| %>

  <% if @benefit.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@benefit.errors.count, "error") %> prohibited this benefit from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @benefit.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :logo_file_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :logo_file_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:logo_file_name) %>
  </div>
  <div class="form-group">
    <%= f.label :logo_content_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :logo_content_type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:logo_content_type) %>
  </div>
  <div class="form-group">
    <%= f.label :logo_file_size, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :logo_file_size, :class => 'form-control' %>
    </div>
    <%=f.error_span(:logo_file_size) %>
  </div>
  <div class="form-group">
    <%= f.label :logo_updated_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :logo_updated_at, :class => 'form-control' %>
    </div>
    <%=f.error_span(:logo_updated_at) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                benefits_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
