<!-- <%- model_class = Benefit -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:logo_file_name) %></th>
      <th><%= model_class.human_attribute_name(:logo_content_type) %></th>
      <th><%= model_class.human_attribute_name(:logo_file_size) %></th>
      <th><%= model_class.human_attribute_name(:logo_updated_at) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @benefits.each do |benefit| %>
      <tr>
        <td><%= link_to benefit.id, benefit_path(benefit) %></td>
        <td><%= benefit.name %></td>
        <td><%= benefit.description %></td>
        <td><%= benefit.logo_file_name %></td>
        <td><%= benefit.logo_content_type %></td>
        <td><%= benefit.logo_file_size %></td>
        <td><%= benefit.logo_updated_at %></td>
        <td><%=l benefit.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      benefit_path(benefit), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_benefit_path(benefit), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      benefit_path(benefit),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> -->
<div class="container mc">
<% @benefits.each do |benefit| %>
  <div class="col-md-4">
  <div class="layer">
      <div class="bimg">
        <% if benefit.logo.present? %>
        <%= image_tag benefit.logo.url(:medium),:class => "imgben" %>
        <% end %>
      </div>
      <div class="bbottom">
        <div class="bright">
          <b><%= benefit.name %></b>
          <span><%= benefit.description %></span>
        </div>
       <span class="bbutton">
          <%= link_to t('show', :default => t("helpers.links.show")),
                      benefit_path(benefit), {:style => 'color: #FFFFFF'} %>
        </span>
      </div>
  </div>
</div>
    <% end %>
</div>
