<div class="container mc">
<%- model_class = Benefit -%>
<div class="col-lg-4 col-centered col-xs-12">
  <div class="box box-primary">
  <div class="box-body box-profile">
    <ul class="list-group list-group-unbordered">
      <li class="list-group-item">
        <%= image_tag @benefit.logo.url(:medium),:class => "imgben" if @benefit.logo.exists? %>
      </li>
      <li class="list-group-item">
        <%= @benefit.name %>
      </li>
      <li class="list-group-item">
        <%= @benefit.description %>
      </li>
      <li class="list-group-item">
        <%= button_to "Redeem now", { :controller => "benefits", :action => "redeem_log"}, :method => :get, :class => 'btn btn-success btn-block ' %>

      </li>
  </div>
</div>
</div>
</div>
