<style media="screen">
  .cc>li>a{
    border:1px solid black!important;
  }
</style>

<section id="dashboard">
  <div id="full-sidebar" class="sidebar-nav">
    <ul>
      <li>
        <a id="menu">
          <span><i class="fa fa-angle-double-left"></i> <i class="fa fa-bars"></i> <i class="fa fa-angle-double-right"></i></span>
          <span></span>
        </a>
      </li>
      <%if subs?%>
      <li>
        <a href="/bookings">
          <span><i class="fa fa-pencil-square-o"></i></span>
          <span>Booking</span>
        </a>
      </li>
      <li>
        <a href="/events">
          <span><i class="fa fa-calendar"></i></span>
          <span>Event</span>
        </a>
      </li>
      <li>
        <a href="/community">
          <span><i class="fa fa-users"></i></span>
          <span>Community</span>
        </a>
      </li>
      <li>
        <a href="/forums">
          <span class="fa fa-comment-o"></span>
          <span>Forum</span>
        </a>
      </li>
      <li>
        <a href="/benefits">
          <span><i class="fa fa-ticket"></i></span>
          <span>Benefit</span>
        </a>
      </li>
      <%end%>
      <li>
        <a href="/invoices">
          <span><i class="fa fa-sticky-note-o"></i></span>
          <span>Invoices</span>
        </a>
      </li>
      <li>
        <a href="/profiles">
          <span><i class="fa fa-user"></i></span>
          <span>Profiles</span>
        </a>
      </li>
      <li>
        <a href="/users/sign_out">
          <span class="fa fa-sign-out"></span>
          <span>Sign out</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="container mc" id="content">

    <div class="row">
    <div class="col-md-9 col-xs-12">

      <div class="col-md-6 col-xs-12 widgets ev">
        <div class="well">
          <h3 class="text-center">Wallet</h3>
          <p class="text-center"><span class="fa fa-credit-card fa-3x"></span></p>
          <p class="text-center">User: <%= current_user.wallet %> Credits<% if current_user.profile.company.name != "personal" %>| Company: <%= current_user.profile.company.wallet %> Credits <% end %></p>
        </div>
      </div>

      <div class="col-md-6 col-xs-12 widgets ev">
        <div class="well">
          <h3 class="text-center">Recently Joined</h3>
          <p class="text-center"><span class="fa fa-user fa-3x"></span></p>
          <p class="text-center">Let's greet them</p>
        </div>
      </div>

      <div class="col-md-12 col-xs-12 widgets ev">
        <div class="well">
          <h3 class="text-center">Info</h3>
          <p class="text-center"><span class="fa fa-bullhorn fa-3x"></span></p>
          <div class="list-group">
            <li class="list-group-item">There is no news yet</li>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3 col-xs-12 ev">
      <div class="well">

        <h3 class="text-center">Next Event</h3>

        <div class="owl-carousel event-calendar">
          <%- model_class = Event -%>
          <% @events.last(3).each do|event|%>
          <div class="item">
            <div class="calendar text-center">
              <div class="calendar-month">
                <strong><%= event.start_date.try(:strftime,"%b") %></strong>
              </div>
              <div class="calendar-date">
                <strong><%= event.start_date.try(:strftime,"%d") %></strong>
              </div>
              <!-- <i class="fa fa-calendar-o"style="font-size:5em;"></i>
              <div class="calendar-body">
                <p style="line-height:10px;"></strong></p>
                <p style="line-height:10px;"><strong></strong></p>
              </div> -->
            </div>
            <p class="text-center"><%= event.name %></p>
          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  </div>

</section>




<!-- <div id="wrapper">
  <div id="sidebar-nav">
    <ul>
      <li><a href="#">Booking</a></li>
      <li><a href="#">Event</a></li>
      <li><a href="#">Community</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="#">Benefit</a></li>
      <li><a href="#">Inovices</a></li>
      <li><a href="#">Profiles</a></li>
      <li><a href="#">Sign Out</a></li>
    </ul>
  </div>

  <div id="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-4">
          <a class="btn btn-default" id="toggle">toggle</a>
          <div class="well">
            <h3>Wallet</h3>
            <span class="fa fa-credit-card fa-2x"></span>
            <p style="text-align:left">User: <%= current_user.wallet %> Credits<% if current_user.profile.company.name != "personal" %>| Company: <%= current_user.profile.company.wallet %> Credits <% end %></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="well">
            <h3>Recently Joined</h3>
            <span class="fa fa-user-o fa-2x"></span>
            <p> No info news yet</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="well">
            <h3>Announcement</h3>
            <span class="fa fa-bell fa-2x"></span>
            <p> No info news yet</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-2">

        </div>
      </div> -->
    <!-- </div>
  </div>

</div> -->

<!-- <script type="text/javascript">
  $(document).ready(function(){
    $(".btn").click(function(e){
      e.preventDefault();
      $("#wrapper").toggleClass("displayed");
    });
  });

</script> -->

<script type="text/javascript">
  $(document).ready(function(){
      //sidebar state
      $("#menu").on("click",function(e){
        e.preventDefault();
        $("#dashboard").toggleClass("displayed");
      });

      // $("#full-sidebar").on("mouseenter",function(e){
      //   e.preventDefault();
      //   $("#dashboard").toggleClass("displayed");
      // });
      //
      // $("#full-sidebar").on("mouseleave",function(e){
      //   e.preventDefault();
      //   $("#dashboard").removeClass("displayed");
      // });
      //end
      $(".owl-carousel").owlCarousel({
        loop:true,
        navigation:true,
        pagination:false,
        items:1
      });

  });


</script>



<!--<style media="screen">
  .cc>li>a{
    border:1px solid black!important;
  }
</style>
<div class="container mc">
  <div class="col-md-12">
  <div class="col-md-3 col-xs-12">
      <ul class="nav nav-pills nav-stacked"  data-spy="affix">
        <% if subs? %>
        <li><a href="/bookings">Booking</a></li>
        <li><a href="/events">Event</a></li>
        <li><a href="/community">Community</a></li>
        <li><a href="/forums">Forum</a></li>
        <li><a href="/benefits">Benefit</a></li>
        <% end %>
        <li>_______________________</li>
        <li><a href="/invoices">Invoices</a></li>
        <li><a href="/profiles">Profiles</a></li>
        <li>_______________________</li>
        <li><a href="/users/sign_out">Sign out</a></li>
      </ul>
  </div>
  <div class="col-md-9 col-xs-12" style="border:1px solid black;border-radius:10px;padding:2%">
    <div class="text-center">
        <p class="s28 h2Underlined ">Wallet</p>
        <p style="text-align:left">User: <%= current_user.wallet %> Credits<% if current_user.profile.company.name != "personal" %>| Company: <%= current_user.profile.company.wallet %> Credits <% end %></p>
    </div>

    <div class="text-center">
        <p class="s28 h2Underlined ">Announcement</p>
        <p> No info news yet</p>
    </div>

    <div class="text-center m2">
      <p class="s28 h2Underlined">Recently joined</p>
      <p>Let's greet them</p>

    </div>






  </div>
</div>
</div>-->
