<%- model_class = Payment -%>
<div class="box-header with-border">
  <h3 class="box-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>
<div class="box-body table-responsive no-padding">
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= link_to payment.id, payment_path(payment) %></td>
        <td><%= payment.name %></td>
        <td><%= payment.description.html_safe %></td>
        <td><%=l payment.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      admins_payment_path(payment), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admins_payment_path(payment), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admins_payment_path(payment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @payments, :theme => 'twitter-bootstrap-3' %>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admins_payment_path,
            :class => 'btn btn-primary' %>
