<%= form_for @profile, :html => { :multipart => true ,:class => "form-horizontal profile" } do |f| %>

  <% if @profile.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :fullname %>
    <%= f.text_field :fullname, :class => 'form-control' %>
    <%=f.error_span(:fullname) %>
  </div>
<!--   <div class="form-group">
    <%= f.label :company_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :company_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:company_id) %>
  </div> -->
    <div class="form-group">
    <%= f.label :company_id %>
    <%= f.collection_select :company_id, Company.order(:name),:id,:name,:class => 'form-control' %>
    <%=f.error_span(:company_id) %>
  </div>
  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, :class => 'form-control' %>
    <%=f.error_span(:phone) %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, :class => 'form-control' %>
    <%=f.error_span(:address) %>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'form-control' %>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, :class => 'form-control input-file' %>
    <%=f.error_span(:avatar) %>
  </div>
  <div class="form-group" style="display:none">
    <%= f.label :admin_id %>
    <%= f.text_field :admin_id, :class => 'form-control' %>
    <%=f.error_span(:admin_id) %>
  </div>
  <div class="form-group" style="display:none">
    <%= f.label :user_id %>
    <%= f.text_field :user_id, :class => 'form-control' %>
    <%=f.error_span(:user_id) %>
  </div>

  <div class="form-group">
    <%= f.submit nil, :class => 'btn cta1' %>
<!--       <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                profiles_path, :class => 'btn btn-default' %> -->
  </div>

<% end %>
