<div class="container">
<%- model_class = Profile -%>
<!-- <div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div> -->

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well edit">
      <h3 class="text-center"><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h3>
      <%= render :partial => 'form' %>
    </div>

  </div>
</div>

</div>
