<style>
  body{
    background: #f5f5f5;
  }
</style>
<body>
</body>

<div class="container m2">
<%- model_class = Profile -%>
<% @profiles.each do |profile| %>
<div class="row">
  <div class="col-md-9">
    <div class="well profile bg-white">
      <%= image_tag profile.avatar.url(:thumb) , :class => "profile-user-img img-responsive img-circle" if profile.avatar.exists? %>
      <h3 class="text-center"><%= profile.fullname %></h3>
      <p class="text-center">
        <strong>
        <% if profile.company_id.present?  %>
        <%= profile.company.name %>
        <% else %>
        personal
        <% end %>
      </strong>
      </p>
      <%= link_to "<span class='fa fa-pencil fa-lg font-orange'></span>".html_safe, edit_profile_path(profile),:class => "profile-settings"%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="well bg-white">
      <h4>Details</h4>
      <ul class="profile-details">
        <li>
          <strong>Phone Number</strong>
          <p>
            <%= profile.phone %>
          </p>
        </li>
        <li>
          <strong>Address</strong>
          <p>
            <%= profile.address %>
          </p>
        </li>
        <li>
          <% if profile.company.name != "personal" %>
          <strong>Company Wallet</strong>
          <p>
            <%= profile.company.wallet %>
          </p>
          <% end %>
        </li>
        <li>
          <strong>User Wallet</strong>
          <p>
            <%= current_user.wallet %>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well bg-white">
      <p class="s28">Perks redeems</p>
      <table class="table">
        <tr>
          <th>Date</th>
          <th>Benefit</th>
        </tr>
        <% @redeems.each do |redeem| %>
        <tr>
          <td><%= redeem.created_at.strftime('%d-%m-%Y %H:%m') %></td>
          <td><%= redeem.benefit.name %></td>
        </tr>
        <% end %>
      </table>
      <%= paginate @redeems, :theme => 'twitter-bootstrap-3' %>
    </div>
  </div>
</div>
<!-- <div class="col-xs-12 col-md-4 col-centered">
<div class="box box-primary">
            <div class="box-body box-profile">
              <%= image_tag profile.avatar.url(:thumb) , :class => "profile-user-img img-responsive img-circle" if profile.avatar.exists? %>
              <h3 class="profile-username text-center"><%= profile.fullname %></h3>

              <p class="text-muted text-center"></p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Company</b> <a class="pull-right">
                    <% if profile.company_id.present?  %>
                    <%= profile.company.name %>
                    <% else %>
                    personal
                    <% end %>
                    </a>
                </li>
                <li class="list-group-item">
                  <b>phone</b> <a class="pull-right"><%= profile.phone %></a>
                </li>
                <li class="list-group-item">
                  <b>Address</b><br>
                  <%= profile.address %>
                </li>
                <% if profile.company.name != "personal" %>
                <li class="list-group-item">
                  <b>wallet</b><br>
                  <%= profile.company.wallet %>
                </li>
                <% end %>

                <li class="list-group-item">
                  <b>user wallet</b><br>
                  <%= current_user.wallet %>
                </li>
              </ul>
                        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_profile_path(profile), :class => 'btn btn-primary btn-block' %>
            </div>
            /.box-body
          </div>
</div> -->
<% end %>
<!-- <div class="col-xs-12 col-md-4">
  <div class="box box-primary">
              <div class="box-body box-profile">
          <p class="s28">Perks redeems</p>
          <table class="table">
            <tr>
              <th>Date</th>
              <th>Benefit</th>
            </tr>
            <% @redeems.each do |redeem| %>
            <tr>
              <td><%= redeem.created_at.strftime('%d-%m-%Y %H:%m') %></td>
              <td><%= redeem.benefit.name %></td>
            </tr>
            <% end %>
          </table>
          <%= paginate @redeems, :theme => 'twitter-bootstrap-3' %>

        </div>
      </div>
</div> -->
</div>
