<body class="bg-new-profile">
  <div class="container mc">
  <%- model_class = Profile -%>
    <div class="row new-profile">
      <div class="column img-header">
        <h1 class="font-white text-center">We need your <span class="font-orange">info</span></h1>
        <p class="text-center font-white">To able to use our service, we need your information first.</p>
      </div>
      <div class="column profile-form">
        <div class="panel panel-transparent">
          <div class="panel-body new">
            <h3>Complete your profile</h3>
            <%= render :partial => 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
