<div class="container">
<div class="row">
<%- model_class = Profile -%>
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:fullname) %>:</strong></dt>
  <dd><%= @profile.fullname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:company_id) %>:</strong></dt>
  <dd><%= @profile.company_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @profile.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @profile.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:admin_id) %>:</strong></dt>
  <dd><%= @profile.admin_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @profile.user_id %></dd>
</dl>
</div>
</div>

