<%= form_for @forum, :html => { :class => "form-horizontal forum" } do |f| %>

  <% if @forum.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@forum.errors.count, "error") %> prohibited this forum from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @forum.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => 'form-control', :id =>'forums'%>
    </div>
    <%=f.error_span(:description) %>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                forums_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
<script type="text/javascript">
      $('#forums').wysihtml5();
</script>