<div class="container mc">
<%- model_class = Forum -%>
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
<%= render :partial => 'form' %>
</div>