<div class="container mc">
<div class="col-md-8 col-md-offset-2">
<%- model_class = Forum -%>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_forum_path,
            :class => 'btn btn-block btn-success' %>
<% @forums.each do |forum| %>
    <div class="media forumbox" style="">
      <div class="media-body">
        <h4 class="media heading"><%= link_to forum.title, forum_path(forum),:class =>'forumtitle' %> </h4>
        <span align='left'> <%= forum.created_at %></span>
        <div class="scroll"> 
        <p> <%= forum.description.html_safe %></p></div>
        <span>  <% if current_user.id == forum.user_id %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_forum_path(forum), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      forum_path(forum),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <% end %></span>
      </div>
    </div>
    <% end %>
    </div>
</div>