<div class="container mc">
<h1><%= @forum.title %></h1>
  <p><%= @forum.description.html_safe %></p>

<p style='font-weight:bold'>Reply count <%=  @forum.comments.count %></p>
  <% @forum.comments.each do |comment| %>
  <% if comment.user.id == @forum.user_id %>
  <div class="fbox">
    <p align='right'> <%= comment.user.profile.fullname %><br>
   <!--      <%= image_tag comment.user.profile.avatar.url(:medium) %> -->
       <%= comment.created_at.strftime('%a, %d %b %Y %H:%M:%S') %><br>
       <%= comment.comment %>
       </p>
       </div>
    <% else %>
    <div class="ubox">
      <p align='left'> <%= comment.user.profile.fullname %><br>
        <!--   <%= image_tag comment.user.profile.avatar.url(:medium) %> -->
       <%= comment.created_at.strftime('%a, %d %b %Y %H:%M:%S') %><br>
      <%= comment.comment %></p>
      </div>
      <% end %>

  <% end %>
<%= render 'comments/form' %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              forums_path, :class => 'btn btn-default'  %>
<% if current_user.id == @forum.user_id %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_forum_path(@forum), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              forum_path(@forum),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>
</div>