<%= form_for [:admins,@about], :html => { :multipart => true, :class => "form-horizontal plan" }  do |f| %>


    <% if @about.errors.any? %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@about.errors.count, "error") %> prohibited this plan from being saved:</h3>
        </div>
        <div class="panel-body">
          <ul>
          <% @about.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2'  %>
    <div class="col-lg-10">
    <%= f.text_area :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>

  <div class="form-group">
    <%= f.label :logo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :logo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:logo) %>
  </div>
  <div class="col-lg-offset-1 col-lg-12">

  <div class="col-lg-5">
    <div class="form-group">
      <%= f.label :icon_1, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.file_field :icon_1, :class => 'form-control' %>
      </div>
      <%=f.error_span(:icon_1) %>
    </div>

    <div class="form-group">
      <%= f.label :icon_text_1, :class => 'control-label col-lg-2'  %>
      <div class="col-lg-10">
      <%= f.text_field :icon_text_1, :class => 'form-control' %>
      </div>
      <%=f.error_span(:icon_text_1) %>
    </div>

    <div class="form-group">
      <%= f.label :icon_2, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.file_field :icon_2, :class => 'form-control' %>
      </div>
      <%=f.error_span(:icon_2) %>
    </div>

    <div class="form-group">
      <%= f.label :icon_text_2, :class => 'control-label col-lg-2'  %>
      <div class="col-lg-10">
      <%= f.text_field :icon_text_2, :class => 'form-control' %>
      </div>
      <%=f.error_span(:icon_text_2) %>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="form-group">
      <%= f.label :icon_3, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.file_field :icon_3, :class => 'form-control' %>
      </div>
      <%=f.error_span(:icon_3) %>
    </div>

    <div class="form-group">
      <%= f.label :icon_text_3, :class => 'control-label col-lg-2'  %>
      <div class="col-lg-10">
      <%= f.text_field :icon_text_3, :class => 'form-control' %>
      </div>
      <%=f.error_span(:icon_text_3) %>
    </div>


    <div class="form-group">
      <%= f.label :icon_4, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.file_field :icon_4, :class => 'form-control' %>
      </div>
      <%=f.error_span(:icon_4) %>
    </div>

    <div class="form-group">
      <%= f.label :icon_text_4, :class => 'control-label col-lg-2'  %>
      <div class="col-lg-10">
      <%= f.text_field :icon_text_4, :class => 'form-control' %>
      </div>
      <%=f.error_span(:icon_text_4) %>
    </div>

  </div>
</div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
    <%= f.submit nil , :class => 'btn btn-primary' %>
  </div>
  </div>
<% end %>
