<%- model_class = About -%>
<div class="box-header with-border">
  <h3 class="box-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th>logo</th>
      <th>icon 1</th>
      <th>icon 2</th>
      <th>icon 3</th>
      <th>icon 4</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @abouts.each do |about| %>
      <tr>
        <td><%= link_to about.id, admins_abouts_path(about) %></td>
        <td><%= about.description %></td>
        <td><%= image_tag about.logo.url(:thumb) if about.logo.file? %></td>
        <td><%= image_tag about.icon_1.url(:thumb) , :class => "img-circle" if about.icon_1.file? %>
            <br><%= about.icon_text_1 %>
        </td>
        <td><%= image_tag about.icon_2.url(:thumb) , :class => " img-circle" if about.icon_2.file? %>
            <br><%= about.icon_text_2 %>
        </td>
        <td><%= image_tag about.icon_3.url(:thumb) , :class => "img-circle" if about.icon_3.file? %>
            <br><%= about.icon_text_3 %>
        </td>
        <td><%= image_tag about.icon_4.url(:thumb) , :class => "img-circle" if about.icon_4.file? %>
            <br><%= about.icon_text_4 %>
        </td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      admins_about_path(about), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admins_about_path(about), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admins_about_path(about),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admins_about_path,
            :class => 'btn btn-primary' %>
<!--
<p id="notice"><%= notice %></p>

<h1>Listing Abouts</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @abouts.each do |about| %>
      <tr>
        <td><%= about.description %></td>
        <td><%= about.admin_id %></td>
        <td><%= link_to 'Show', admins_about_path(about) %></td>
        <td><%= link_to 'Edit', edit_admins_about_path(about) %></td>
        <td><%= link_to 'Destroy', admins_about_path(about), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New About', new_admins_about_path %> -->
