<%- model_class = About -%>
<div class="box-header with-border">
  <h3 class="box-title"><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h3>
</div>
<div class="col-lg-12">
<%= render :partial => 'form' %>
</div>
