<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @about.description %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @about.admin_id %>
</p>

<%= link_to 'Edit', edit_admins_about_path(@about) %> |
<%= link_to 'Back', admins_abouts_path %>
