<link rel="stylesheet" href="/assets/home/css/blog.css">
<div class="container m2">
  <div class="blog-header" style="text-align:center">
    <h2>Welcome To EV Hive Blog</h2>
    <p>We are community of like minded startup enthusiast. And this is some of our thoughts</p>
  </div>
  <% @blogs.each do |blog| %>
  <!-- <div class="col-md-4">
  <div class="wrapper">
    		<div class="card radius shadowDepth1">
    			<div class="card__image border-tlr-radius">
            <%= image_tag(blog.image.url(:original), :class => "border-tlr-radius") if blog.image.file? %>
                </div>
    			<div class="card__content card__padding">
    				<div class="card__meta">
                <%=raw tag_links(blog.all_tags)%>
                <time><%= blog.created_at.strftime("%d-%m-%Y") %></time>
    				</div>
    				<article class="card__article">
              <div style="min-height:86px;">
                <p style="font-weight:bold;font-size:25px;line-height:27px"><%= link_to blog.title, blog %></p>
              </div>
                <p style="font-size:14px"><%= blog.description.first(160).html_safe %> ...</p>
	    			</article>
    			</div>
    			<div class="card__action">
    				<div class="card__author">
    					<div class="card__author-content">
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div> -->
  <div class="col-md-4 col-xs-12 item">

      <div class="card tint" style="">
        <%= image_tag(blog.image.url(:original), :class => "card-img-top") if blog.image.file? %>
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-img-overlay">
          <!-- <p class="pull-left"><span><i class="fa fa-tag"></i></span> <%=raw tag_links(blog.all_tags)%></p>
          <p class="pull-right"><time><%= blog.created_at.strftime("%d %b %Y") %></time></p> -->
          <h3 class="card-title"><%= blog.title%></h3>
          <!-- <p class="card-text"><%= blog.description.first(100).html_safe %> ...</p> -->
          <p class="card-action"><%= link_to "Read More", blog_path(blog), :class=>"btn-read"%></p>
          <!-- <p class="card-date"><b><time><%= blog.created_at.strftime("%d %b %Y") %></b></time></p> -->
        </div>
        <!-- <div class="card-block">
          <p class="pull-left"><span><i class="fa fa-tag"></i></span> <%=raw tag_links(blog.all_tags)%></p>
          <p class="pull-right"><time><%= blog.created_at.strftime("%d %b %Y") %></time></p>
          <h4 class="card-title" style="clear:both"><%= blog.title %></h4>
          <p class="card-text"><%= blog.description.first(100).html_safe %> ...</p>
          <p><%= link_to "Read More", blog_path(blog), :class=>"btn-read"%></p>

        </div> -->
      </div>

  </div>
  <% end %>
</div>
