<% content_for :head do %>
<title><%= @blog.title%></title>
<meta name="description" content="<%= @blog.meta_description %>"/>
<style>
  body{
    background: #e4e4e4;
  }
  div.article{
    background: white;
    padding: 2%;
    height:100%;
  }
  @media screen and (min-width:300px) and (max-width:700px){
    .article{
      margin:0px;
    }
    .article >.row >.col-md-12 >p > img {
      width: 100%!important;
      height: auto!important;
      margin:0!important;
      }
    .header{
      position: relative!important;
      top:0px!important
    }
    .headline{
      font-size: 20px!important;
    }
  }
  .card-img{
    width: 100%;
  }
  .headline{
    font-size:32px;
  }
  /*.header{
    position: absolute;
    top: 100px;
  }*/
</style>
<% end %>
<div class="container m2">
  <div class="article">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag(@blog.image.url(:original), :class => "card-img") if @blog.image.file? %>

      </div>
  <div class="col-md-6">
    <header class="header">

      <h1 class="headline">
        <%= @blog.title %>
      </h1>
      <%= social_share_button_tag(@blog.title) %>
      <div class="meta">
        <span class="meta-border"></span>
        <!-- <span class="author">by <span class="author-avatar"><img src="http://gravatar.com/avatar/6fafd1e5977a3d9fdccb7207bb1175ba"></span><span class="author-name">Jimmy Wafflehoff</span></span> -->
        <span class="pub-date"><%= @blog.created_at.strftime("%d-%m-%Y %H:%M:%S") %></span>
      </div>
    </header>
  </div>
  <div class="col-md-12">
    <p><%= @blog.description.html_safe %></p>
    <div class="category">Category: <%=raw tag_links(@blog.all_tags)%></div>
  </div>
    </div>


</div>
</div>
