<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 footer-logo">
				<img src="/assets/home/img/logomini.png" width="138" alt="" style="margin:25% auto;">
			</div>

			<div class="col-lg-3">
				<div class="location">
					<ul class="font-white">
						<p>
							<strong>The Maja</strong>
						</p>
						<li>
							<div class="media">
  							<div class="media-left">
    							<i class="fa fa-map-marker font-orange"></i>
  							</div>
  							<div class="media-body">
    							<p>Jl. Kyai Maja No.39, South Jakarta</p>
  							</div>
							</div>
						</li>
						<li>
							<div class="media">
  							<div class="media-left">
    							<i class="fa fa-phone font-orange"></i>
  							</div>
  							<div class="media-body">
    							<p>021 7391033</p>
  							</div>
							</div>

						</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="location">
					<ul class="font-white">
						<p>
							<strong>The Breeze</strong>
						</p>
						<li>
							<div class="media">
  							<div class="media-left">
    							<i class="fa fa-map-marker font-orange"></i>
  							</div>
  							<div class="media-body">
    							<p>Jl. Grand Boulevard, BSD Green Office Park, Tangerang, 15345</p>
  							</div>
							</div>
						</li>
						<li>
							<div class="media">
  							<div class="media-left">
    							<i class="fa fa-phone font-orange"></i>
  							</div>
  							<div class="media-body">
    							<p>021 50386336</p>
  							</div>
							</div>
						</li>
					</ul>
				</div>

			</div>

			<div class="col-lg-3">
				<ul class="list-inline social-icons">
					<li>
						<a href="https://www.facebook.com/evhive.co/" target="_blank">
							<i class="fa fa-facebook-square fa-2x"></i>
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/company-beta/13178803/?pathWildcard=13178803" target="_blank">
							<i class="fa fa-linkedin-square fa-2x"></i>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/evhive/?hl=en" target="_blank">
							<i class="fa fa-instagram fa-2x"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!--end of footer info section-->

		<div class="row copyright">
			<p style="color:#696969;">&copy; Copyright 2015 EV Hive</p>
		</div>
	</div>

	<!-- <div id="c">
			<p>Carefully crafted by: <a href="http://www.evhive.co">Ev Hive</a></p>
	</div> -->
</footer>
