<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<body data-spy="scroll" data-offset="0" data-target="#navigation">

	<nav class="navbar navbar-default navbar-fixed-top navbar-justified">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="http://evhive.co/">
	        <img alt="Brand" src="/assets/home/img/evhivebigger.png" height="35" alt="evhive">
	      </a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="http://evhive.co/locations">Locations</a></li>
	        <li><a href="http://evhive.co/plans">Plans</a></li>
	        <li><a href="http://evhive.co/about">Why EV Hive</a></li>
	        <li><a href="http://evhive.net/events">Events</a></li>
	        <li><a href="http://evhive.net/blogs">Blogs</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right" style="padding:10px">
					<li><p><a href="http://evhive.co/users/sign_in" class="btn btn-transparent navbar-btn" style="border-radius:0">Sign in</a></p></li>
	    </ul>
	  </div>
	  </div><!-- /.container-fluid -->
	</nav>


<% if current_page?('/') %>
  <!-- <section class="content-section image-section">
    <div class="color-overlay">
      <img src="/assets/home/img/wall1.JPG" alt="ev hive wallpaper" class="responsive" style="height:auto">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

  	   </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- jsc campaign  .\ -->
  <!-- <section class="content-section image2-section">
    <div class="container-full bg-overlay2" data-aos="zoom-in">
    	<div class="row text-center" style="padding:10%">
    		<p class="jsc1">Sebagai komunitas resmi yang didukung oleh Pemerintah Provinsi DKI Jakarta, Startup Jakarta mempertemukan inovator, regulator, dan layanan publik.</p>
        <p class="jsc2">#GueStartupJakarta</p>
        <div class="learn_more" onclick="window.location='http://startupjakarta.id';">
            <a style="">Gabung Sekarang</a>
        </div>

    	</div>
    </div>
  </section> -->

  <div class="container-full" data-aos="zoom-in">
    <div id="myCarousel" class="carousel slide c1" data-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-inner" role="listbox">
          <!-- <div class="item overlay">
            <img src="/assets/home/img/slider/startupjkt.jpg" class="img-responsive bimage img-banner">
            <div class="container">
              <div class="carousel-caption banner">
                <p class="font-white">Sebagai komunitas resmi yang didukung oleh Pemerintah Provinsi DKI Jakarta, Startup Jakarta mempertemukan inovator, regulator, dan layanan publik.</p>
                <p class="font-white">#GueStartupJakarta</p>
                <a href="http://startupjakarta.id" class="cta1">Gabung Sekarang</a>
              </div>
            </div>
          </div> -->

          <div class="item">
            <img src="/assets/home/img/slider/asset2.jpg" class="img-responsive bimage img-banner">
            <div class="container">
              <div class="carousel-caption banner">
                <h3 class="font-white"><strong>Beautiful collaborative space to grow your startup</strong></h3>
                <p class="font-white">Community. Space. Technology</p>
                <a href="#location" class="cta1" style="margin-right:10px">Book Now</a>
								<a href="#" class="cta2" data-toggle="modal" data-target="#modals" >Enquiry</a>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>

<!-- mobile banner -->
<!-- <section class="image-section">
  <div class="container-full bg-overlay">
  	<div class="row text-center" style="padding:10%">
  		<p style="color:#696969;font-size:35px">EV Hive Coworking Space</p>
      <p style="font-size: 56px;line-height: 56px;">Get Productive. Connect</p>
      <div class="learn_more">
          <a id="home" >Learn More</a>
      </div>

  	</div>
  </div>
</section> -->

  <!-- video -->
  <!-- <section class="content-section video-section" id="home" data-aos="fade-up">
  <div class="pattern-overlay">
  <a id="bgndVideo" class="player" data-property="{videoURL:'https://youtu.be/UMyAw6JCXHc',containment:'.video-section', quality:'hd720', autoPlay:true, mute:true}">bg</a>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

	   </div>
      </div>
    </div>
  </div>
</section> -->

	<!-- <section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1 style="color:white">Welcome To <b>Evhive apps</b></h1>
					<h3 style="color:white">Lets grow our coworking together</h3>
					<br>
	    		</div>

	    		<div class="col-lg-2">
	    			<h5 style="color:white">Amazing Results</h5>
	    			<p style="color:white">Reduce the cost of operation by using bleeding egde software.</p>
	    			<img class="hidden-xs hidden-sm hidden-md" src="assets/home/img/arrow1.png">
	    		</div>
	    		<div class="col-lg-8">
	    			<img class="img-responsive" src="assets/home/img/app-bg.png" alt="">
	    		</div>
	    		<div class="col-lg-2">
	    			<br>
	    			<img class="hidden-xs hidden-sm hidden-md" src="assets/home/img/arrow2.png">
	    			<h5 style="color:white">Carefull Design </h5>
	    			<p style="color:white">Created carefully to create idiotproof application to ensure user experience</p>
	    		</div>
	    	</div>
	    </div>
	</div> -->


	<!--<section id="desc" name="desc"></section>
	<!-- INTRO WRAP -->
	<div id="description">
		<div class="container">
			<div class="row centered">
				<h1><img src="assets/home/img/evhivebigger.png" height="100px" alt=""></h1>
        <p style="font-size:24px">Coworking Space</p>
        <p>___________</p>
        <p class="intro_text">Ev Hive is a coworking space in Indonesia, offering knowledge sharing and community building as its core value. Through events and workshops by our network of entrepreneurs and tech communities, we help local startups grow their business </p>
        <div class="col-lg-12" style="margin-bottom:20px;margin-top:20px">
          <p class="intro_in_text">we know what you need</p>
        </div>
        <div class="col-lg-12" style="margin-bottom:20px" data-aos="fade-up">
          <div class="col-sm-2 col-xs-6">
            <img src="/assets/home/img/Icons/icon-1.png" class="responsive picon" alt=" shared desk">
            <p>Shared Desk</p>
          </div>
          <div class="col-sm-2 col-xs-6" data-aos="fade-up">
            <img src="/assets/home/img/Icons/icon-2.png" class="responsive picon" alt="High Speed Internet">
            <p>High Speed Internet</p>
          </div>
          <div class="col-sm-2 col-xs-6" data-aos="fade-up">
            <img src="/assets/home/img/Icons/icon-3.png" class="responsive picon" alt="Free Coffee">
            <p>Free Coffee</p>
          </div>
          <div class="col-sm-2 col-xs-6" data-aos="fade-up">
            <img src="/assets/home/img/Icons/icon-4.png" class="responsive picon"  alt="benefits">
            <p>Benefits</p>
          </div>
          <div class="col-sm-2 col-xs-6" data-aos="fade-up">
            <img src="/assets/home/img/Icons/icon-5.png" class="responsive picon" alt="Growth">
            <p>Growth</p>
          </div>
          <div class="col-sm-2 col-xs-6"data-aos="fade-up">
            <img src="/assets/home/img/Icons/icon-6.png" class="responsive picon" alt="Network">
            <p>Network</p>
          </div>
        </div>

        <!-- <br>
				<div class="col-lg-4">
					<img src="assets/home/img/intro01.png" alt="">
					<h3>Community</h3>
					<p>Enabling community interaction within the application .</p>
				</div>
				<div class="col-lg-4">
					<img src="assets/home/img/intro02.png" alt="">
					<h3>Schedule</h3>
					<p>Manage your event and booking integrated within the application.</p>
				</div>
				<div class="col-lg-4">
					<img src="assets/home/img/intro03.png" alt="">
					<h3>Monitoring</h3>
					<p>Realtime monitoring monthly revenue and coworking performance.</p>
				</div> -->
        <br>
			</div>
			<br>

	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->
<!-- <section id="location" name="location"></section>
<div class="container-full">
  <div class="col-sm-4 media" style="padding:0;margin-top:0">
    <img src="assets/home/img/img1.png" class="responsive media__image" style="width:100%" alt="">
    <div class="media__body">
      <p class="media_title">The Maja</p>
      <p class="media_text" >Jalan Kyai maja no.39</p>
    </div>
  </div>
  <div class="col-sm-4 media" style="padding:0;margin-top:0">
    <img src="assets/home/img/img2.png" class="responsive media__image" style="width:100%" alt="">
    <div class="media__body">
      <p class="media_title">The Breeze</p>
      <p class="media_text" >click here</p>
    </div>
  </div>
  <div class="col-sm-4" style="padding:0;margin-top:0">
    <img src="assets/home/img/img3.png" class="responsive" style="width:100%" alt="">
    <div class="media__body">
      <p class="media_title">JSChive</p>
      <p class="media_text" >COMING SOON</p>
    </div>
  </div>
</div> -->
	<!-- FEATURES WRAP -->


	<!-- <section id="showcase" name="showcase"></section>
	<div id="showcase">
		<div class="container">
			<div class="row">
				<h1 class="centered">Some Screenshots</h1>
				<br>
				<div class="col-lg-8 col-lg-offset-2">
					<div id="carousel-example-generic" class="carousel slide">
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					  </ol>
					  <div class="carousel-inner">
					    <div class="item active">
					      <img src="assets/home/img/item-01.png" alt="">
					    </div>
					    <div class="item">
					      <img src="assets/home/img/item-02.png" alt="">
					    </div>
					  </div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<br>
		</div>
	</div> -->

<% end %>
<script type="text/javascript">
$(window).scroll(function() {
  if($(this).scrollTop() > 50)  /*height in pixels when the navbar becomes non opaque*/
  {
      $('.navbar').addClass('trans');
  } else {
      $('.navbar').removeClass('trans');
  }
});
</script>
  <script src="/assets/home/js/bootstrap.js"></script>
	<script>
	$('.carousel').carousel({
	  interval: 3500
	})
	</script>

  <script type="text/javascript">
  $(document).ready(function () {
		$(".dropdown-toggle").dropdown();
    $(".player").mb_YTPlayer();

  });
  </script>

  <script type="text/javascript">
  $("#home").click(function() {
  $('html, body').animate({
  scrollTop: $("#description").offset().top-90
  }, 1000);
  });
  AOS.init();
  </script>
</body>
