    <div id="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="padding-left:0">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://evhive.co"><img src="/assets/home/img/logomini.png" style="height:35px" alt="logo evhive"/></a>

          </div>
          <div class="navbar-collapse collapse">
            <% if subs? %>
            <ul class="nav navbar-nav">
              <li>  <%= link_to 'Dashboard', dashboard_index_path %></li>
              <!-- <li>  <%= link_to 'Event', events_path %></li>
              <li><%= link_to 'Community', community_index_path %></li>
              <li><%= link_to 'Forum', forums_path %></li>
              <li><%= link_to 'Benefit', benefits_path %></li> -->
            </ul>
            <% end %>
              <ul class="nav navbar-nav pull-right">
                <li><a href="/about" class="smothscroll">Why EV Hive?</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Location <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "The Maja", root_url(subdomain: 'themaja')%></li>
                    <li><%= link_to "The Breeze", root_url(subdomain: 'breeze')%></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Announcement <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Blog' ,blogs_path, :class => 'smothScroll' %></li>
                    <!-- <li><a href="#">News</a></li> -->
                    <li><a href="http://evhive.co/events">Events</a></li>
                  </ul>
                </li>
              <% if user_signed_in? %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Profile', profiles_path %></li>
                    <li><%= link_to 'My Invoices', invoices_path %></li>
                    <li><%= link_to 'Edit password', edit_user_registration_path %></li>
                  </ul>
                </li>
                <!-- <li><%= link_to "My Profile", profiles_path %></li> -->
                <li><%= link_to "Sign out", destroy_user_session_path %></li>
              <% else %>
                <li><%= link_to "Sign in", new_user_session_path %></li>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
