<%= form_for [:admins,@company], :html => { :multipart => true,:class => "form-horizontal company" } do |f| %>

  <% if @company.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label 'Company name', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nama_pt, :class => 'form-control' , :placeholder => 'fill in product name for integration to jurnal, as in jurnal' %>
    </div>
    <%=f.error_span(:nama_pt) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' , :placeholder => 'Email HR or PIC' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :wallet, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :wallet, :class => 'form-control' %>
    </div>
    <%=f.error_span(:wallet) %>
  </div>
  <div class="form-group">
    <%= f.label :logo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :logo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:logo) %>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admins_companies_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
