<section class="header">
  <div class="container-full star">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3" style="margin-bottom:20px">
        <div class="coworking-logo-w">
          <h1>Why EV Hive</h1>
          <h3>Community, Space & Technology</h3>
          <h3>For global network of creators</h3>
        </div>
      </div>
    </div>
    <div class="jumbo-button" style="margin-top:9%;">
      <a href="#dsc" class="text-center"><i class="fa fa-angle-double-down fa-2x"></i></a>
    </div>
    </div>
  </div>
</section>

<!-- description -->
<section class="desc" id="dsc">
  <div class="container">
    <div class="row centered">
      <h1><img src="assets/home/img/evhivebigger.png" height="100px" alt=""></h1>
      <p style="font-size:24px">Coworking Space</p>
      <p>___________</p>
      <p class="intro_text">Ev Hive is a coworking space in Indonesia, offering knowledge sharing and community building as its core value. Through events and workshops by our network of entrepreneurs and tech communities, we help local startups grow their business </p>
    </div>

      <div class="row centered">
        <p style="font-size:24px">Benefits</p>
        <p>___________</p>
      </div>
      <div class="col-sm-2 col-xs-6">
        <img src="/assets/home/img/Icons/icon-1.png" class="responsive picon" alt=" shared desk">
        <p>Shared Desk</p>
      </div>
      <div class="col-sm-2 col-xs-6" data-aos="fade-up">
        <img src="/assets/home/img/Icons/icon-2.png" class="responsive picon" alt="High Speed Internet">
        <p>High Speed Internet</p>
      </div>
      <div class="col-sm-2 col-xs-6" data-aos="fade-up">
        <img src="/assets/home/img/Icons/icon-3.png" class="responsive picon" alt="Free Coffee">
        <p>Free Coffee</p>
      </div>
      <div class="col-sm-2 col-xs-6" data-aos="fade-up">
        <img src="/assets/home/img/Icons/icon-4.png" class="responsive picon"  alt="benefits">
        <p>Benefits</p>
      </div>
      <div class="col-sm-2 col-xs-6" data-aos="fade-up">
        <img src="/assets/home/img/Icons/icon-5.png" class="responsive picon" alt="Growth">
        <p>Growth</p>
      </div>
      <div class="col-sm-2 col-xs-6"data-aos="fade-up">
        <img src="/assets/home/img/Icons/icon-6.png" class="responsive picon" alt="Network">
        <p>Network</p>
      </div>
    </div>

  </div>

</section>


<!-- community section-->
<section class="community">
  <div class="container-full">
    <div class="jumbotron com-banner">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="coworking-logo-w">
            <h1>Community</h1>
          </div>
        </div>
      </div>

      <div class="row jumbo-button">
        <a href="#com" class="text-center"><i class="fa fa-angle-double-down fa-2x"></i></a>
      </div>
    </div>
  </div>
  <div class="container" id="com">
    <div class="row">
      <div class="col-md-12">
        <!-- <h1 class="title-about"><u>Community</u></h1> -->
        <p class="title-body">
          With a vision to build up the Indonesian Startup Ecosystem through knowledge-sharing, EV Hive lets you thrive in an exceptional base for collaboration and innovation with the support from like-minded people. We are more than just a place for work, we are a community that grows and becomes successful together.
        </p>
      </div>
    </div>
    <div class="row icons">
      <div class="col-md-3 col-xs-6 text-center">
        <img class="blurb" src="/assets/home/img/Icons/icon-1.png" alt="shared desk">
        <!-- <p class="s28b">Events</p> -->
        <div class="more">
          <a class="btn btn-default" data-toggle="collapse" data-target="#event">Events <span class="fa fa-angle-double-right"></span></a>
            <div id="event" class="collapse">
              <p>We host a series of weekly knowledge-sharing sessions such as BizTalks, TechTalks to help you flourish your business. Learn from industry experts and executives from established organizations such as Google and GoJek and successful startups like Traveloka, Tokopedia and many more! EV Hive members could also attend exclusive internal events to get to know your Co-workers.</p>
            </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 text-center">
        <img class="blurb" src="/assets/home/img/Icons/icon-5.png" alt="shared desk">
        <!-- <p class="s28b">Network</p> -->
        <div class="more">
          <a class="btn btn-default" data-toggle="collapse" data-target="#network">Network <span class="fa fa-angle-double-right"></span></a>
            <div id="network" class="collapse">
              <p>EV Hive is constantly expanding our diverse network of entrepreneurs and tech-communities so our members gains exposure and connect.
              Being backed by East Ventures, EV Hive members enjoy multitudes of opportunities for networking beyond the internal community and investor exposure</p>
            </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 text-center">
        <img class="blurb" src="/assets/home/img/Icons/icon-6.png" alt="shared desk">
        <!-- <p class="s28b">Programs</p> -->
        <div class="more">
          <a class="btn btn-default" data-toggle="collapse" data-target="#program">Programs <span class="fa fa-angle-double-right"></span></a>
            <div id="program" class="collapse">
              <p>EV Hive provides programs such as Coding classes, UI/UX Classes in partnership with relevant institutions, to cater to the demand for practical skills. We want your business to grow and nurture with useful skills</p>
            </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 text-center">
        <img class="blurb" src="/assets/home/img/Icons/icon-3.png" alt="shared desk">
        <!-- <p class="s28b">Benefits</p> -->
        <div class="more">
          <a class="btn btn-default" data-toggle="collapse" data-target="#benefit">Benefits <span class="fa fa-angle-double-right"></span></a>
            <div id="benefit" class="collapse">
              <p>Being an EV Hive member you can enjoy benefits from partner companies that alleviate troublesome business process such as HRD, Back office tools, Development Infrastructure and Company Events.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-full partners">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="s28b text-center">Event Partners</p>
          <div class="clearfix">
              <div id="thumbcarousel" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                      <div class="item active">
                        <div class="col-sm-3 col-xs-6" data-slide-to="0"><img src="/assets/home/img/partner/angin.png"></div>
                        <div class="col-sm-3 col-xs-6" data-slide-to="1"><img src="/assets/home/img/partner/avpn.png"></div>
                        <div class="col-sm-3 col-xs-6" data-slide-to="2"><img src="/assets/home/img/partner/code4nation.png"></div>
                        <div class="col-sm-3 col-xs-6" data-slide-to="9" class="thumb"><img src="/assets/home/img/partner/cozora.png"></div>

                      </div>
                      <div class="item">
                        <div class="col-sm-3 col-xs-6" data-slide-to="3"><img src="/assets/home/img/partner/endeavor.png"></div>
                        <div class="col-sm-3 col-xs-6" data-slide-to="9" class="thumb"><img src="/assets/home/img/partner/gha.png"></div>
                        <div class="col-sm-3 col-xs-6" data-slide-to="4" class="thumb"><img src="/assets/home/img/partner/gnb.png"></div>
                        <div class="col-sm-3 col-xs-6" data-slide-to="5" class="thumb"><img src="/assets/home/img/partner/google.png"></div>


                      </div>
                      <div class="item">
                        <div class="col-sm-3 col-xs-6" data-slide-to="6" class="thumb"><img src="/assets/home/img/partner/jlp.png"></div>
                        <div class="col-sm-3 col-xs-6" data-slide-to="7" class="thumb"><img src="/assets/home/img/partner/plus.png"></div>
                        <div class="col-sm-3 col-xs-6" data-slide-to="8" class="thumb"><img src="/assets/home/img/partner/ptsp.png"></div>
                        <div class="col-sm-3 col-xs-6" data-slide-to="9" class="thumb"><img src="/assets/home/img/partner/slc.png"></div>
                      </div>
                  </div>
                  <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
              </div>
          </div>
        </div>

        <div class="col-sm-6">
          <p class="s28b text-center">Community Partners</p>
          <div class="clearfix">
              <div id="thumbcarousel2" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                      <div class="item active">
                        <div class="col-sm-3 col-xs-6" data-slide-to="0"><img src="/assets/home/img/partner/jlp.png"></div>
                        <div class="col-sm-3 col-xs-6" data-slide-to="1"><img src="/assets/home/img/partner/jjs.png"></div>
                        <div class="col-sm-3 col-xs-6" data-slide-to="3"><img src="/assets/home/img/partner/php.png"></div>
                        <div class="col-sm-3 col-xs-6" data-slide-to="3"><img src="/assets/home/img/partner/sarcom.png"></div>
                      </div>
                      <div class="item">
                        <div class="col-sm-3 col-xs-6" data-slide-to="2"><img src="/assets/home/img/partner/slc.png"></div>
                        <div class="col-sm-3 col-xs-6" data-slide-to="3"><img src="/assets/home/img/partner/tia.png"></div>
                      </div>
                  </div>
                  <a class="left carousel-control" href="#thumbcarousel2" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#thumbcarousel2" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Space Section -->
<section class="space">
  <div class="container-full">
    <div class="jumbotron space-banner">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="coworking-logo-w">
            <h1>Space</h1>
          </div>
        </div>
      </div>

      <div class="row jumbo-button">
        <a href="#spc" class="text-center"><i class="fa fa-angle-double-down fa-2x"></i></a>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="row" id="spc">
      <div class="col-md-12">
        <!-- <h1 class="title-about"><u>Space</u></h1> -->
        <p class="title-body">
          Designed with startups and small businesses in mind, EV Hive is a community-driven workspace created to foster creative collaborations between community members. Work in a space that features natural lighting and incorporates plant fixtures that augments a productive ambience but if that isn’t enough, you can enjoy a well stocked pantry with free flow coffee.
        </p>
      </div>
    </div>
    <div class="row icons">
      <div class="col-md-3 col-xs-6 text-center">
        <img class="blurb" src="/assets/home/img/Icons/icon-1.png" alt="shared desk">
        <!-- <p class="s28b">Events</p> -->
        <div class="more">
          <a class="btn btn-default" data-toggle="collapse" data-target="#spaces">Beautiful Spaces <span class="fa fa-angle-double-right"></span></a>
            <div id="spaces" class="collapse">
              <p>Creatively designed by leading architects and interior designers, this space was specifically designed to create an ambience to encourage productivity where you can work for hours and still feel comfortable.</p>
            </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 text-center">
        <img class="blurb" src="/assets/home/img/Icons/icon-5.png" alt="shared desk">
        <!-- <p class="s28b">Network</p> -->
        <div class="more">
          <a class="btn btn-default" data-toggle="collapse" data-target="#tech">Tech Integrated <span class="fa fa-angle-double-right"></span></a>
            <div id="tech" class="collapse">
              <p>EV Hive integrates technology with our operations so you can work at ease where connecting with members, managing your membership and browsing through events and benefits can be done all on one platform.</p>
            </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 text-center">
        <img class="blurb" src="/assets/home/img/Icons/icon-6.png" alt="shared desk">
        <!-- <p class="s28b">Programs</p> -->
        <div class="more">
          <a class="btn btn-default" data-toggle="collapse" data-target="#furniture">Ergonomic Furniture <span class="fa fa-angle-double-right"></span></a>
            <div id="furniture" class="collapse">
              <p>With your health and wellness in mind, you can use ergonomic furniture that improves the physical, cognitive and social experience of working at EV Hive Spaces.</p>
            </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 text-center">
        <img class="blurb" src="/assets/home/img/Icons/icon-3.png" alt="shared desk">
        <!-- <p class="s28b">Benefits</p> -->
        <div class="more">
          <a class="btn btn-default" data-toggle="collapse" data-target="#facility">Customizable Facility <span class="fa fa-angle-double-right"></span></a>
            <div id="facility" class="collapse">
              <p>EV Hive facilities were made to cater to your needs with various membership types, flexible use of space and open partnerships. Meeting rooms, event space, a day or a month office, your choice!</p>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-full partners">
    <div class="container">
      <div class="col-sm-6">
        <p class="s28b text-center">Space Backers</p>
        <div class="clearfix">
            <div id="space-car" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <div class="item active">
                      <div class="col-sm-3  col-sm-offset-4 col-xs-6" data-slide-to="0"><img src="/assets/home/img/partner/ev.png"></div>
                    </div>
                </div>
                <!-- <a class="left carousel-control" href="#space-car" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#space-car" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a> -->
            </div>
        </div>
      </div>
        <div class="col-sm-6">
          <p class="s28b text-center">Landlord Partners</p>
          <div class="clearfix">
            <div id="land-carousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="col-xs-6 col-sm-3 col-sm-offset-2" data-slide-to="0"><img src="/assets/home/img/partner/breeze.png"></div>
                    <div class="col-xs-6 col-sm-3" data-slide-to="1"><img src="/assets/home/img/partner/maja.png"></div>
                    <div class="col-xs-6 col-sm-3" data-slide-to="2"><img src="/assets/home/img/partner/sml.png"></div>
                  </div>
                </div>
                <!-- <a class="left carousel-control" href="#land-carousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#land-carousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a> -->
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</section>

<!--Tech Section-->
<section class="technology">
  <div class="container-full">
    <div class="jumbotron tech-banner">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="coworking-logo-w">
            <h1>Technology</h1>
          </div>
        </div>
      </div>

      <div class="row jumbo-button">
        <a href="#tch" class="text-center"><i class="fa fa-angle-double-down fa-2x"></i></a>
      </div>

    </div>
  </div>
  <div class="container" id="tch">
    <div class="row">
      <div class="col-md-12">
        <!-- <h1 class="title-about"><u>Technology</u></h1> -->
        <p class="title-body">
          New business opportunities emerge in an environment that is filled with the latest technology and individuals who know how to turn ideas into success. EV Hive establish creative and innovative space by integrating technology in our system and offerings, improving efficiency, productivity and delivering value to all stakeholders.
        </p>
      </div>
    </div>
    <div class="row icons">
      <div class="col-md-4 col-xs-6 text-center">
        <img class="blurb" src="/assets/home/img/Icons/icon-1.png" alt="shared desk">
        <!-- <p class="s28b">Events</p> -->
        <div class="more">
          <a class="btn btn-default" data-toggle="collapse" data-target="#platform">Member Platform <span class="fa fa-angle-double-right"></span></a>
            <div id="platform" class="collapse">
              <p>EV Hive members get access to the EV Hive Internal Software where you can manage conference room bookings, membership payments, and stay updated with our events. Connect with other members in forums, and don’t forget to check for discounts and member perks in our member benefit section!</p>
            </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-6 text-center">
        <img class="blurb" src="/assets/home/img/Icons/icon-5.png" alt="shared desk">
        <!-- <p class="s28b">Network</p> -->
        <div class="more">
          <a class="btn btn-default" data-toggle="collapse" data-target="#tech-talk">Tech Talks <span class="fa fa-angle-double-right"></span></a>
            <div id="tech-talk" class="collapse">
              <p>Learn from the brightest and leading experts relating to Tech for your business, from Tech Communities such as JLP and renowned speakers from various tech startups like Carousell, Mirai Apps and more.</p>
            </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 text-center">
        <img class="blurb" src="/assets/home/img/Icons/icon-6.png" alt="shared desk">
        <!-- <p class="s28b">Programs</p> -->
        <div class="more">
          <a class="btn btn-default" data-toggle="collapse" data-target="#prod">Tech improves Productivity <span class="fa fa-angle-double-right"></span></a>
            <div id="prod" class="collapse">
              <p>In partnerships with Jurnal, Rekruta and Jojonomic, EV Hive Members will get exclusive deals to help assist with the inconvenient business processes and help you focus on growing your business.</p>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-full partners">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="s28b text-center">Education Partners</p>
          <div class="clearfix">
            <div id="edu-carousel" class="carousel slide" data-interval="false">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="col-sm-3 col-xs-6 col-xs-offset-2" data-slide-to="0"><img src="/assets/home/img/partner/jlp.png"></div>
                  <div class="col-sm-3 col-xs-6 col-xs-offset-2" data-slide-to="1"><img src="/assets/home/img/partner/techtif.png"></div>
                </div>
              </div>
              <!-- <a class="left carousel-control" href="#edu-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#edu-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a> -->
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <p class="s28b text-center">Tech Partners</p>
          <div class="clearfix">
            <div id="tech-carousel" class="carousel slide" data-interval="false">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="col-sm-3 col-xs-6 col-xs-offset-2 "><img src="/assets/home/img/partner/aws.png"></div>
                  <div class="col-sm-3 col-xs-6 col-xs-offset-2 "><img src="/assets/home/img/partner/bizspark.png"></div>
                </div>
              </div>
              <!-- <a class="left carousel-control" href="#tech-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#tech-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section id="member">
  <div class="container">
    <h1 class="title-about">Video</h1>
    <div class="row">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UMyAw6JCXHc"></iframe>
      </div>
    </div>
  </div>
  </div>
</section>

<section id="member">
  <div class="container">
    <h1 class="title-about">Past & Current Member</h1>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-xs-9 col-xs-offset-3">
        <ul class="list-inline">
          <li>
            <img src="/assets/home/img/community/99co.png">
            <img src="/assets/home/img/community/99co.png">
          </li>
          <li>
            <img src="/assets/home/img/community/airfrov.png">
            <img src="/assets/home/img/community/airfrov2.png">
          </li>
          <li>
            <img src="/assets/home/img/community/arta.png">
            <img src="/assets/home/img/community/artawana2.png">
          </li>
          <li>
            <img src="/assets/home/img/community/dealstreet.png">
            <img src="/assets/home/img/community/dealstreet2.png">
          </li>
          <li>
            <img src="/assets/home/img/community/eragano.png">
            <img src="/assets/home/img/community/eragano.png">
          </li>
          <li>
            <img src="/assets/home/img/community/faims.png">
            <img src="/assets/home/img/community/faims.png">
          </li>
          <li>
            <img src="/assets/home/img/community/glints.png">
            <img src="/assets/home/img/community/glints2.png">
          </li>
          <li>
            <img src="/assets/home/img/community/goodworks.png">
            <img src="/assets/home/img/community/goodworks.png">
          </li>
          <li>
            <img src="/assets/home/img/community/hbc.png">
            <img src="/assets/home/img/community/hbc.png">
          </li>
          <li>
            <img src="/assets/home/img/community/kkday.png">
            <img src="/assets/home/img/community/kkday.png">
          </li>
          <li>
            <img src="/assets/home/img/community/klb.png">
            <img src="/assets/home/img/community/klb.png">
          </li>
          <li>
            <img src="/assets/home/img/community/magnaqm.png">
            <img src="/assets/home/img/community/magnaqm.png">
          </li>
          <li>
            <img src="/assets/home/img/community/oia.png">
            <img src="/assets/home/img/community/oia.png">
          </li>
          <li>
            <img src="/assets/home/img/community/wav.png">
            <img src="/assets/home/img/community/wav.png">
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>


<script type="text/javascript">
$(document).ready(function(){
  $(".more a").on("mouseover",function(){
    $(this).find("span").show();
  });
  $(".more a").on("mouseleave",function(){
    $(this).find("span").hide();
  });

  $("#member li").on("mouseover",function(){
    $(this).find("img:first-child").hide();
    $(this).find("img:last-child").show();
  });
  $("#member li").on("mouseleave",function(){
    $(this).find("img:last-child").hide();
    $(this).find("img:first-child").show();
  });
  $("#carousel").carousel();
  $("#thumbcarousel").carousel();
  // $("#members").carousel({
  //   interval:7000
  // });
  // $("#thumbcarousel2").carousel();
});

</script>
