<%- model_class = Banner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @banner.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @banner.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:admin_id) %>:</strong></dt>
  <dd><%= @banner.admin_id %></dd>
   <dd>  <%= image_tag @banner.image.url(:medium) %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              admins_banners_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admins_banner_path(@banner), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admins_banner_path(@banner),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
