<%= form_for [:admins,@setting], :html => { :multipart => true ,:class => "form-horizontal setting" } do |f| %>

  <% if @setting.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @setting.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :address, :class => 'form-control', :id => 'address' %>
    </div>
    <%=f.error_span(:address) %>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phone) %>
  </div>
  <div class="form-group">
    <%= f.label 'Google maps keyword', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :google_maps, :class => 'form-control' %>
    </div>
    <%=f.error_span(:google_maps) %>
  </div>
  <div class="form-group">
    <%= f.label :logo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :logo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:logo) %>
  </div>
  <div class="form-group">
    <%= f.label :about, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :about, :class => 'form-control', :id => 'about' %>
    </div>
    <%=f.error_span(:about) %>
  </div>
  <div class="form-group">
    <%= f.label :tag, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :tag, :class => 'form-control', :id => 'about' %>
    </div>
    <%=f.error_span(:tag) %>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admins_settings_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $('#address').wysihtml5();
  $('#about').wysihtml5();
</script>
