<%- model_class = Setting -%>
<div class="box-header with-border">
  <h3 class="box-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:logo) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.name %></td>
        <td><%= image_tag setting.logo.url(:thumb), :class => "profile-user-img img-responsive img-circle" %></td>
        <td><%= (setting.address).html_safe %></td>
        <td><%= setting.phone %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admins_setting_path(setting), :class => 'btn btn-default btn-xs' %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @settings.count < 1 %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admins_setting_path,
            :class => 'btn btn-primary' %>
<% end %>