<%= form_for [@forum, @forum.comments.build] do |f| %>
  <%= f.label :comment, :class => 'control-label col-lg-2' %>
  <%= f.text_area :comment, :class => 'form-control' %>
  <%= f.submit 'add comment ',:class => 'btn btn-block btn-success' %>
<% end %>