<%= form_for [:admins,@plan], :html => { :multipart => true, :class => "form-horizontal" } do |f| %>

  <% if @plan.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @plan.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => 'form-control', :id => 'plan_text' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :pimage, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :pimage, :class => 'form-control' %>
    </div>
    <%=f.error_span(:pimage) %>
  </div>
  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:price) %>
  </div>
  <div class="form-group">
    <%= f.label :product_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :product_name, :class => 'form-control' , :placeholder => 'fill in product name for integration to jurnal' %>
    </div>
    <%=f.error_span(:product_name) %>
  </div>
  <div class="form-group">
    <%= f.label :deposit, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :deposit, :class => 'form-control' %>
    </div>
    <%=f.error_span(:deposit) %>
  </div>
  <div class="form-group">
    <%= f.label :extracharge, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :extracharge, :class => 'form-control' %>
    </div>
    <%=f.error_span(:extracharge) %>
  </div>
  <div class="form-group">
    <%= f.label :period, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
       <%= f.select :period,  options_for_period, {}, prompt: 'Select One'%>
    </div>
    <%=f.error_span(:period) %>
  </div>
  <div class="form-group">
    <%= f.label :weekend_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :weekend_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:weekend_name) %>
  </div>
  <div class="form-group">
    <%= f.label :weekend_price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :weekend_price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:weekend_price) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admins_plans_path, :class => 'btn btn-default' %>
    </div>
  </div>


<% end %>
<script type="text/javascript">
  $('#plan_text').wysihtml5();
</script>
