<%- model_class = Plan -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @plan.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @plan.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @plan.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deposit) %>:</strong></dt>
  <dd><%= @plan.deposit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:period) %>:</strong></dt>
  <dd><%= @plan.period %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              admins_plans_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admins_plan_path(@plan), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admins_plan_path(@plan),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
