<div class="container" style="background:white">
  <h2>Invoices</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#unpaid">Unpaid</a></li>
    <li><a data-toggle="tab" href="#paid">paid</a></li>
  </ul>

  <div class="tab-content">
    <div id="unpaid" class="tab-pane fade in active">
      <h3>Unpaid Invoices</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Start date</th>
            <th>Due date</th>
            <th>total</th>
          </tr>
        </thead>
        <tbody>
          <% @invoices.each do |invoice| %>
            <tr>
              <td> <%= link_to invoice.purchase.user.profile.fullname,
                      invoice_path(invoice), :class => 'btn btn-success btn-xs' %></td>
              <td><%= invoice.start_date.strftime('%d-%m-%Y %H:%M:%S') %></td>
              <td><%= (invoice.start_date + 5.days).strftime('%d-%m-%Y %H:%M:%S') %></td>
              <td><%= invoice.total.round %></td>
              <!-- <td><%= link_to t('.show', :default => t("helpers.links.show")),
                            invoice_path(invoice), :class => 'btn btn-default btn-xs' %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="paid" class="tab-pane fade">
      <h3>Paid Invoices</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Start date</th>
            <th>Due date</th>
            <th>total</th>
          </tr>
        </thead>
        <tbody>
          <% @paid_invoices.each do |pinvoice| %>
            <tr>
              <td> <%= link_to pinvoice.purchase.user.profile.fullname,
                      invoice_path(pinvoice), :class => 'btn btn-success btn-xs' %></td>
              <td><%= pinvoice.start_date.strftime('%d-%m-%Y %H:%M:%S') %></td>
              <td><%= (pinvoice.start_date + 5.days).strftime('%d-%m-%Y %H:%M:%S') %></td>
              <td><%= pinvoice.total.round %></td>
              <!-- <td><%= link_to t('.show', :default => t("helpers.links.show")),
                            invoice_path(pinvoice), :class => 'btn btn-default btn-xs' %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
