<body class="bg">
<div class="col-md-4 col-md-offset-4">
<div class="panel panel-transparent devise-bs">
  <!-- <div class="panel-heading">
    <h4><%= t('.sign_in', :default => "Sign in") %></h4>
  </div> -->
  <div class="panel-body sign-form">
    <!-- <img src="/assets/stylesheets/home/img/evhivebigger.png" width="200"> -->
    <h3 class="text-center"><%= t('.sign_in', :default => "Sign in") %></h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
      <div class="form-group">
        <!-- <%= f.label :email %> -->
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Your email" %>
      </div>
      <div class="form-group">
        <!-- <%= f.label :password %> -->
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder:"Your password" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="checkbox">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %> <%= t('.remember_me', :default => "Remember me") %>
          <% end %>
        </div>
      <% end %>
      <div style="text-align:center;">
        <%= f.submit  t('.sign_in', :default => "Sign in"), class: "btn-sign cta1" %>
      </div>

    <% end %>
    <div class="sign-other-action">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>

</div>
</body>
