<%= form_for [:admins,@invoice], :html => { :class => "form-horizontal invoice" } do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @invoice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="row">
          <div class="col-sm-6 invoice-col">
          To
          <address>
            <strong><%= @invoice.purchase.user.profile.fullname %></strong><br>
            <%= @invoice.purchase.user.profile.address %><br>
            Phone: <%= @invoice.purchase.user.profile.phone %><br>
            Email: <%= @invoice.purchase.user.email %>
          </address>
        </div>
        <div class="col-sm-6 invoice-col">
          <b>Invoice #</b><br>
          <br>
          <b>Order ID:</b> 4F3S8J<br>
          <b>Payment Due:</b><%= (@invoice.start_date + 5.days).strftime("%d-%m-%Y") %><br>
          <!-- <b>Account:</b> 968-34567 -->
        </div>
  </div>
  <div class="form-group">
    <%= f.label :start_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <!--<%= f.text_field :start_date, :class => 'form-control', 'id' => 'start_date' %>-->
      <%= f.text_field :start_date, class: 'form-control datetimepicker', id:'start_date', data: { date_format: 'DD-MM-YYYY HH:mm' } %>
    </div>
    <%=f.error_span(:start_date) %>
  </div>
  <div class="form-group">
    <%= f.label :end_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
     <!-- <%= f.text_field :end_date, :class => 'form-control', 'id' => 'end_date' %>-->
       <%= f.text_field :end_date, class: 'form-control datetimepicker', id:'end_date', data: { date_format: 'DD-MM-YYYY HH:mm' } %>
    </div>
    <%=f.error_span(:end_date) %>
  </div>
    <div class="form-group">
    <%= f.label :total, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :total, :class => 'form-control', 'id' => 'end_date' %>
    </div>
    <%=f.error_span(:total) %>
  </div>
    <div class="form-group">
    <%= f.label :paid, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%=  f.select :paid, [['Paid', true], ['Unpaid', false]] %>
    </div>
    <%=f.error_span(:paid) %>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
          </div>
  </div>

<% end %>
