<div class="row">
<div class="col-xs-12">
<%- model_class = Suborder -%>

<section class="invoice">
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-globe"></i> <%=  current_space.subdomain %>
            <small class="pull-right">Date: <%= @invoice.start_date.strftime("%d-%m-%Y") %></small>
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
          From
          <address>
            <strong><%=  current_space.subdomain %></strong><br>
            <%=  current_space.setting.address.html_safe %><br>
            Email: <%= current_space.email %>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          To
          <address>
            <strong><%= @invoice.purchase.user.profile.fullname %></strong><br>
            <%= @invoice.purchase.user.profile.address %><br>
            Phone: <%= @invoice.purchase.user.profile.company.name %><br>
            Email: <%= @invoice.purchase.user.email %>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          <b>Invoice #</b><br>
          <br>
          <!-- <b>Order ID:</b> 4F3S8J<br> -->
          <b>Payment Due:</b><%= (@invoice.start_date + 5.days).strftime("%d-%m-%Y") %><br>
          <!-- <b>Account:</b> 968-34567 -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Qty</th>
              <th>Product</th>
              <th>Description</th>
              <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td><%= @invoice.purchase.plan.name %></td>
              <td></td>
              <td><%= @invoice.total.round(-2) %></td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
          <p class="lead">Payment Methods:</p>
          <%= @invoice.purchase.payment.name %>
          <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
          <%= (@invoice.purchase.payment.description).html_safe %>
          </p>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
          <p class="lead">Amount Due <%= (@invoice.start_date + 5.days).strftime("%d-%m-%Y") %></p>

          <div class="table-responsive">
            <table class="table">
              <tbody><tr>
                <th style="width:50%">Subtotal:</th>
                <td><%= @invoice.total.round(-2) %></td>
              </tr>

              <tr>
                <th>Total:</th>
                <td><%= @invoice.total.round(-2) %></td>
              </tr>
            </tbody></table>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-xs-12">
          <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
          <button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment
          </button>
          <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
            <i class="fa fa-download"></i> Generate PDF
          </button>
        </div>
      </div>
    </section>

</div>
</div>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admins_invoice_path(@invoice),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
