<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>
<style media="screen">
  .dt-button{
    padding: 0.5%;
    margin-left: 0.5%;
    border: 1px solid #30a5ff;
  }
</style>
<!-- <div class="box-header with-border">
  <h3 class="box-title">Occupancy Statistic</h3>
</div> -->
<div class="box-body table-responsive no-padding">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#occupancy">Occupancy</a></li>
    <li><a data-toggle="tab" href="#utilization">Utilization</a></li>
  </ul>
  <div class="tab-content">
    <div id="occupancy" class="tab-pane fade in active">
  <table class="table" >
        <tbody><tr>
            <td style="border:0">Start date:</td>
            <td style="border:0"><input type="text" id="min" name="min"></td>
        </tr>
        <tr>
            <td>End date:</td>
            <td><input type="text" id="max" name="max"></td>
        </tr>
    </tbody></table>
<table id="search" class="display responsive no-wrap">
  <thead>
    <tr>
      <th>id</th>
      <th>product name</th>
      <th>Company</th>
      <th>Start date</th>
      <th>End date</th>
      <th>occupancy</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>
  <tbody>
    <% @suborders.each do |suborder| %>
      <tr>
        <td><%= link_to suborder.id %></td>
        <td><%= suborder.product_name %></td>
        <td><%= suborder.purchase.user.profile.company.name %></td>
        <td><%= suborder.start_date.try(:strftime, '%Y-%m-%d') %></td>
        <td><%= suborder.end_date.try(:strftime, '%Y-%m-%d')  %></td>
        <td><%= suborder.occupancy  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

    <div id="utilization" class="tab-pane fade">
      <table class="table" >
            <tbody><tr>
                <td style="border:0">Start date:</td>
                <td style="border:0"><input type="text" id="minb" name="min"></td>
            </tr>
            <tr>
                <td>End date:</td>
                <td><input type="text" id="maxb" name="max"></td>
            </tr>
        </tbody></table>
    <table id="util" class="display responsive no-wrap">
      <thead>
        <tr>
          <th>product name</th>
          <th>Company</th>
          <th>Fullname</th>
          <th>Start date</th>
          <th>End date</th>
          <th>occupancy</th>
          <!-- <th colspan="3"></th> -->
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.user.profile.fullname %></td>
            <td><%= booking.user.profile.company.name %></td>
            <td><%= booking.user.profile.fullname %></td>
            <td><%= booking.start_book.try(:strftime, '%Y-%m-%d') %></td>
            <td><%= booking.end_book.try(:strftime, '%Y-%m-%d')  %></td>
            <td><%= (booking.end_book - booking.start_book)/3600 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
</div>
</div>
<script type="text/javascript">
$.fn.dataTableExt.afnFiltering.push(
    function( oSettings, aData, iDataIndex ) {
        var iFini = document.getElementById('min').value;
        var iFfin = document.getElementById('max').value;
        var iStartDateCol = 3 ;
        var iEndDateCol = 3;

        iFini=iFini.substring(0,4) + iFini.substring(5,7)+ iFini.substring(8,10);
        iFfin=iFfin.substring(0,4) + iFfin.substring(5,7)+ iFfin.substring(8,10);

        var datofini=aData[iStartDateCol].substring(0,4) + aData[iStartDateCol].substring(5,7)+ aData[iStartDateCol].substring(8,10);
        var datoffin=aData[iEndDateCol].substring(0,4) + aData[iEndDateCol].substring(5,7)+ aData[iEndDateCol].substring(8,10);

        if ( iFini === "" && iFfin === "" )
        {
            return true;
        }
        else if ( iFini <= datofini && iFfin === "")
        {
            return true;
        }
        else if ( iFfin >= datoffin && iFini === "")
        {
            return true;
        }
        else if (iFini <= datofini && iFfin >= datoffin)
        {
            return true;
        }
        return false;
    }
);
$(document).ready(function() {
  var table = $('#search').DataTable({
    dom: 'Bfrtip',
     buttons: [
          'csv', 'pdf'
     ]
    });
  $('#min').datetimepicker({
    format: 'YYYY-MM-DD'
    }).on('dp.change', function(e){
    table.draw();
});;
  $('#max').datetimepicker({
    format: 'YYYY-MM-DD'
    }).on('dp.change', function(e){
    table.draw();
});
  } );
$.fn.dataTableExt.afnFiltering.push(
    function( oSettings, aData, iDataIndex ) {
        var iFinib = document.getElementById('minb').value;
        var iFfinb = document.getElementById('maxb').value;
        var iStartDateColb = 3 ;
        var iEndDateColb = 3;

        iFinib=iFinib.substring(0,4) + iFinib.substring(5,7)+ iFinib.substring(8,10);
        iFfinb=iFfinb.substring(0,4) + iFfinb.substring(5,7)+ iFfinb.substring(8,10);

        var datofinib=aData[iStartDateColb].substring(0,4) + aData[iStartDateColb].substring(5,7)+ aData[iStartDateColb].substring(8,10);
        var datoffinb=aData[iEndDateColb].substring(0,4) + aData[iEndDateColb].substring(5,7)+ aData[iEndDateColb].substring(8,10);

        if ( iFinib === "" && iFfinb === "" )
        {
            return true;
        }
        else if ( iFinib <= datofinib && iFfinb === "")
        {
            return true;
        }
        else if ( iFfinb >= datoffinb && iFinib === "")
        {
            return true;
        }
        else if (iFinib <= datofinib && iFfinb >= datoffinb)
        {
            return true;
        }
        return false;
    }
);
$(document).ready(function() {
  var table2 = $('#util').DataTable({
    dom: 'Bfrtip',
     buttons: [
          'csv', 'pdf'
     ]
    });
  $('#minb').datetimepicker({
    format: 'YYYY-MM-DD'
    }).on('dp.change', function(e){
    table2.draw();
});;
  $('#maxb').datetimepicker({
    format: 'YYYY-MM-DD'
    }).on('dp.change', function(e){
    table2.draw();
});

  } );
</script>
