<%= form_for @banner, :html => { :class => "form-horizontal banner" } do |f| %>

  <% if @banner.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@banner.errors.count, "error") %> prohibited this banner from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @banner.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :admin_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :admin_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:admin_id) %>
  </div>
  <div class="form-group">
    <%= f.label :image_file_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :image_file_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:image_file_name) %>
  </div>
  <div class="form-group">
    <%= f.label :image_content_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :image_content_type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:image_content_type) %>
  </div>
  <div class="form-group">
    <%= f.label :image_file_size, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :image_file_size, :class => 'form-control' %>
    </div>
    <%=f.error_span(:image_file_size) %>
  </div>
  <div class="form-group">
    <%= f.label :image_updated_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :image_updated_at, :class => 'form-control' %>
    </div>
    <%=f.error_span(:image_updated_at) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                banners_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
