<%- model_class = Banner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:admin_id) %></th>
      <th><%= model_class.human_attribute_name(:image_file_name) %></th>
      <th><%= model_class.human_attribute_name(:image_content_type) %></th>
      <th><%= model_class.human_attribute_name(:image_file_size) %></th>
      <th><%= model_class.human_attribute_name(:image_updated_at) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @banners.each do |banner| %>
      <tr>
        <td><%= link_to banner.id, banner_path(banner) %></td>
        <td><%= banner.title %></td>
        <td><%= banner.description %></td>
        <td><%= banner.admin_id %></td>
        <td><%= banner.image_file_name %></td>
        <td><%= banner.image_content_type %></td>
        <td><%= banner.image_file_size %></td>
        <td><%= banner.image_updated_at %></td>
        <td><%=l banner.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      banner_path(banner), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_banner_path(banner), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      banner_path(banner),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_banner_path,
            :class => 'btn btn-primary' %>
