<div class="container">
  <%- model_class = Booking -%>
  <div class="page-header">
    <h2><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h2>
  </div>
  <%= render :partial => 'form' %>

</div>
