<script type="text/javascript">
function getCookie(cname) {
  var name = cname + "=";
  var ca = document.cookie.split(';');
  for(var i=0; i<ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0)==' ') c = c.substring(1);
    if (c.indexOf(name) != -1) return c.substring(name.length,c.length);
  }
  return "";
}
function setCookie(cname, cvalue, exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  var expires = "expires="+d.toUTCString();
  document.cookie = cname + "=" + cvalue + "; " + expires;
}
function checkCookieIntro(){
  var cookie=getCookie("introExampleCookie");

  if (cookie==null || cookie=="") {
    setCookie("introExampleCookie", "1",90);
    introJs().start();
  }
}
</script>
<script type="text/javascript">
$( document ).ready(function() {
   checkCookieIntro();
});
</script>
<div class="container" >
<%- model_class = Booking -%>
  <!-- <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1> -->
<div class="col-md-12 mc">
  <div class="centered" >
    <p class="s28">Booking Schedule</p>
  </div>
  <div class="mc">
    <div id="green" data-step='1' data-intro='green indicate your booking' class='color-index' style="background-color:#6cd86a">
      <span>Your booking</span>
    </div>
    <div id="orange"  data-step='2' data-intro='orange indicate others booking'  class='color-index' style="background-color:#f39c12">
        <span>Others booking</span>
    </div>
    <!-- <%= link_to 'Create Booking', new_booking_path, :class => "btn pbutton ptext", :style => "float:right;padding:1%" %> -->
    <button type="button" class="btn pbutton ptext" data-toggle="modal" data-target="#mynewbook" style="float:right;padding:1%" data-step='3' data-intro='This button to create booking'>
      Create Booking
</button>

  <!-- <%= link_to 'Create Booking', new_booking_path, :class => 'btn pbutton ptext', :style => 'font-weight:500;font-size:16px;padding:1%;float:right', 'data-step' => '3', 'data-intro' => 'This button to create booking!'  %> -->
  </div>
</div>
<%= form_for @booking do |f| %>
<div class="modal fade" id="mynewbook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
         <%= f.label :room_id, :class => 'control-label' %>
           <%= f.collection_select :room_id, Room.where('available = ?',true).order(:name),:id,:name,:class => 'form-control' %>
         <%=f.error_span(:room_id) %>
       </div>
       <div class="form-group">
         <%= f.label :start_book, :class => 'control-label' %>
           <%= f.text_field :start_book,:required => true, class: 'form-control datetimepicker', id:'start_book', data: { date_format: 'DD-MM-YYYY HH:mm' } %>
         <%=f.error_span(:start_book) %>
       </div>
       <div class="form-group">
         <%= f.label :end_book, :class => 'control-label' %>
          <%= f.text_field :end_book, :required => true, class: 'form-control datetimepicker', id:'end_book', data: { date_format: 'DD-MM-YYYY HH:mm' } %>
         <%=f.error_span(:end_book) %>
       </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag 'create', :class => 'btn btn-block pbutton ptext' %>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="col-md-12">
  <div id="bcalendar"></div>
</div>
<div class="col-md-12 mc">
  <table class="table" id="mybooking">
    <thead>
      <tr>
        <th>Start book</th>
        <th>Duration</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.start_book.try(:strftime,'%Y-%m-%d %H:%M') %></td>
        <td><%= (booking.end_book - booking.start_book)/3600 %></td>
        <td><%= link_to t('.edit', :default => t("helpers.links.edit")),edit_booking_path(booking), :class => 'btn btn-warning btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      booking_path(booking),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %></td>
      </tr>
      <% end %>
    </tbody>
</table>

</div>
</div>
</div>
</body>
<script type="text/javascript">
   $("#bcalendar").fullCalendar({
        header:{
         left: 'prev,next today',
        center: 'title',
        right: 'month,agendaDay,listDay',
    },
    eventSources:[
      {url:'/bookings.json'}
    ]
    });
    $(document).ready(function() {
      $('#mybooking').dataTable();
    });
</script>
<script type="text/javascript">
$(function () {
                $('#start_book').datetimepicker({
                  enabledHours: [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21],
                });
                 $('#end_book').datetimepicker({
                   enabledHours: [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21],

                 });
            });
</script>
