<div class="container mc">
<%- model_class = Booking -%>
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @booking.user.profile.company.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:room_id) %>:</strong></dt>
  <dd><%= @booking.room.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @booking.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_book) %>:</strong></dt>
  <dd><%= @booking.start_book %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_book) %>:</strong></dt>
  <dd><%= @booking.end_book %></dd>
</dl>
<%= link_to t('.back', :default => t("helpers.links.back")),
              bookings_path, :class => 'btn btn-default'  %>
<% if current_user.id == @booking.user_id %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_booking_path(@booking), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              booking_path(@booking),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>
</div>
