<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-blue"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Member</span>
              <span class="info-box-number"><%= @count %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-cart-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Revenue</span>
              <span class="info-box-number"><%= number_to_currency(@sum.round, unit:"RP ")  %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Unpaid</span>
              <span class="info-box-number"><%= @suborders.count %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
 <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Paid</span>
              <span class="info-box-number"><%= @paids.count %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
<div class="col-xs-12">
    <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#unpaid">Unpaid</a></li>
    <li><a data-toggle="tab" href="#paid">Paid</a></li>
		<li><a data-toggle="tab" href="#next_month">Next Month</a></li>
  </ul>

  <div class="tab-content">
    <div id="unpaid" class="tab-pane fade in active">
      <h3>Unpaid Invoices</h3>
      <table class="table table-striped" id="unpaidtable">
        <thead>
          <tr>
						<th>company</th>
						<th>product</th>
            <th>Start date</th>
            <th>total</th>
						<th>action</th>
          </tr>
        </thead>
        <tbody>
          <% @suborders.each do |suborder| %>
            <tr>
							<td> <% if suborder.purchase.user.profile.company.name != "personal" %>
										<%= link_to suborder.purchase.user.profile.company.name,
                      admins_invoice_path(suborder), :class => 'btn btn-success btn-xs' %>
										 <% else %>
										 <%= link_to suborder.purchase.user.profile.fullname,
									 		admins_invoice_path(suborder), :class => 'btn btn-success btn-xs' %>
											<% end %>
										</td>
							<td><%= suborder.product_name %><%if suborder.product_name.include? "Meeting" %> <%= (suborder.end_date - suborder.start_date)/3600 %> hours<% end %></td>
              <td><%= suborder.start_date.strftime('%d-%m-%Y %H:%M:%S') %></td>
              <td><%= suborder.total.round %></td>
              <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admins_invoice_path(suborder), :class => 'btn btn-default btn-xs' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!-- paginate script-->
    </div>
    <div id="paid" class="tab-pane fade">
      <h3>Paid Invoices</h3>
      <table class="table table-striped">
        <thead>
          <tr>
						<th>company</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>total</th>
          </tr>
        </thead>
        <tbody>
          <% @paids.each do |paid| %>
            <tr>
							<td>
								<% if paid.purchase.user.profile.company.name != "personal" %>
											<%= link_to paid.purchase.user.profile.company.name,
	                      admins_invoice_path(paid), :class => 'btn btn-success btn-xs' %>
											 <% else %>
											 <%= link_to paid.purchase.user.profile.fullname,
										 		admins_invoice_path(paid), :class => 'btn btn-success btn-xs' %>
												<% end %>
              <td><%= paid.start_date.strftime('%d-%m-%Y %H:%M:%S') %></td>
              <td><%= (paid.start_date + 5.days).strftime('%d-%m-%Y %H:%M:%S') %></td>
              <td><%= paid.total.round %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

		<div id="next_month" class="tab-pane fade">
		  <h3>next month</h3>
		  <table class="table table-striped" id="next_month_tab">
		    <thead>
		      <tr>
		        <th>company</th>
		        <th>product</th>
		        <th>Start date</th>
		        <th>total</th>
		        <th>action</th>
		      </tr>
		    </thead>
		    <tbody>
		      <% @next_months.each do |next_month| %>
		        <tr>
		          <td> <% if next_month.purchase.user.profile.company.name != "personal" %>
		                <%= link_to next_month.purchase.user.profile.company.name,
		                  admins_invoice_path(next_month), :class => 'btn btn-success btn-xs' %>
		                 <% else %>
		                 <%= link_to next_month.purchase.user.profile.fullname,
		                  admins_invoice_path(next_month), :class => 'btn btn-success btn-xs' %>
		                  <% end %>
		                </td>
		          <td><%= next_month.product_name %><%if next_month.product_name.include? "Meeting" %> <%= (next_month.end_date - next_month.start_date)/3600 %> hours<% end %></td>
		          <td><%= next_month.start_date.strftime('%d-%m-%Y %H:%M:%S') %></td>
		          <td><%= next_month.total.round %></td>
		          <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
		                  edit_admins_invoice_path(next_month), :class => 'btn btn-default btn-xs' %></td>
		        </tr>
		      <% end %>
		    </tbody>
		  </table>
		  <!-- paginate script-->
		</div>

  </div>
</div>
</div>
<script>
$(document).ready(function() {
  $('#unpaidtable').dataTable();
	$('#next_month_tab').dataTable();
});
</script>
