<%= form_for @purchase, :html => { :class => "form-horizontal" } do |f| %>

  <% if @purchase.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@purchase.errors.count, "error") %> prohibited this plan from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @purchase.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <p class="s28 h2Underlined">Payment Method</p>
  <div class="form-group" style="display:none">
    <%= f.label :plan_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :plan_id, :class => 'form-control', :value =>@plan.id %>
    </div>
    <%=f.error_span(:plan_id) %>
  </div>
    <div class="form-group" style="display:none">
    <%= f.label :period, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :period, :class => 'form-control', :value =>@plan.period %>
    </div>
    <%=f.error_span(:period) %>
  </div>
  <div class="form-group">
    <%= f.label :payment_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= collection_select(:purchase, :payment_id, Admin::Payment.all, :id, :name, {:prompt => false}) %>
    </div>
    <%=f.error_span(:payment_id) %>
  </div>
  <% if @plan.period == 5 %>
    <div class="form-group">
      <%= f.label :event_id, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= collection_select(:purchase, :event_id, Admin::Event.where('start_date > ?',Date.today), :id, :name, {:prompt => false}) %>
      </div>
      <%=f.error_span(:event_id) %>
    </div>
  <% end %>
<% if @plan.period == 1 || 4 %>
    <div class="form-group" >
    <%= f.label :total, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :total_month, :class => 'form-control', :onchange => 'ical()', :placeholder => 'number of hour/day/month' %>
    </div>
    <%=f.error_span(:total_month) %>
    </div>
<% end %>
<% if @plan.period == 1 || @plan.period == 5 %>
    <div class="form-group">
    <%= f.label :start_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :start_date, class: 'form-control datetimepicker', id:'start_date', data: { date_format: 'DD-MM-YYYY' } %>
    </div>
    <%=f.error_span(:start_date) %>
    </div>
  <% else %>
  <div class="form-group">
    <%= f.label :start_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :start_date, class: 'form-control datetimepicker', id:'start_date' , data: { date_format: "DD-MM-YYYY HH:mm" } %>
    </div>
    <%=f.error_span(:start_date) %>
    </div>
  <% end %>

<% if @plan.period == 4 %>
<div class="form-group">
 <%= f.label :room_id, :class => 'control-label col-lg-2' %>
 <div class="col-lg-10">
   <%= f.collection_select :room_id, Room.order(:name),:id,:name,:class => 'form-control' %>
 </div>
 <%=f.error_span(:room_id) %>
</div>
<div class="form-group">
<%= f.label 'Additional Person' , :class => 'control-label col-lg-2' %>
<div class="col-lg-10">
  <%= f.text_field :person, class: 'form-control', :onchange => 'recal()' %>
</div>
<%=f.error_span(:person) %>
</div>
<% end %>

   <div class="form-group">
    <%= f.label :notes, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :notes, :class => 'form-control' %>
    </div>
    <%=f.error_span(:notes) %>
  </div>
  <div id="ajax" >
    <% if :payment_id == 4 %>
    <% end %>
  </div>
  <table class="table">
    <tr>
    <td>Prorated from</td><td><span id='startdate'></span></td>
    </tr>
<!--     <tr>
      <td>Prorated Until</td><td><span id='prorate'></span></td>
    </tr> -->
    <tr>
      <td>Payment Due Date</td><td><span id='duedate'></span> </td>
    </tr>
    <tr>
      <td><b>Price Total</b></td><td><span id='total'></span></</td>
    </tr>
    <!--
    <tr>
      <td> Working days  <%= d=(Date.today..Date.today.next_month).count {|day| !day.saturday? && !day.sunday? } %></td>
      <td> <%= @plan.price / d %></td>
    </tr>
-->
  </table>
    <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-success btn-block' %>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  function ical(){
   price = <%= @plan.price %>;
   tm = document.getElementById('purchase_total_month').value ;
   $("#total").html(price*tm);
};
<% if @plan.period == 4 %>
function recal(){
 price = <%= @plan.price %>;
 tm = document.getElementById('purchase_total_month').value ;
 echarge = <%= @plan.extracharge %>;
 tp = document.getElementById('purchase_person').value ;
 lv = (price * tm) + (tm * echarge * tp );
 $("#total").html(lv);
};
<% end %>
$(function () {
  $('#start_date').datetimepicker().on('dp.change',
   function(e){
    period  = document.getElementById('purchase_period').value ;

    if (period == 1){
      var myday =  new Date(e.date);
      var my
      console.log(myday);
      sdate = e.date.format("DD-MM-YYYY").toString();
      //pdate = e.date.add(document.getElementById('purchase_total_month').value, 'months').format("DD-MM-YYYY").toString();
      ddate = e.date.add(5, 'days').format("DD-MM-YYYY").toString();
      $("#startdate").text(sdate);
       //$("#prorate").text(pdate);
      $("#duedate").text(ddate);

      } else if (period == 2){
      tot = document.getElementById('purchase_total_month').value;
      sdate = e.date.format("DD-MM-YYYY").toString();
      ddate = e.date.add(5, 'days').format("DD-MM-YYYY").toString();
      //pdate = e.date.add( tot * 7, 'days').format("DD-MM-YYYY").toString();
      $("#startdate").text(sdate);
      $("#duedate").text(ddate);
      // $("#prorate").text(pdate);



      } else if(period == 3){
        sdate = e.date.format("DD-MM-YYYY").toString();
        ddate = e.date.add(0, 'days').format("DD-MM-YYYY").toString();
        price = <%= @plan.price %>;
        //pdate = e.date.add( tot * 7, 'days').format("DD-MM-YYYY").toString();
        $("#startdate").text(sdate);
        $("#duedate").text(ddate);
        $("#total").html(price);
      }

     });
});
// $('#start_date').change(function(){
// var date = $('#start_date').data('DateTimePicker').date();
// $('#startdate').html(date);
// });
$('#purchase_payment_id').change(function() {
  var subcategory_url = "/payments/" + $(this).val() +'.json';
  if( $(this).val() == 3){
  $.ajax({
    url: subcategory_url,
    success: function(data) {
    var content = '<b>Payment instruction:</b><br>'+data.description+'<br>Company Wallet: <%= current_user.profile.company.wallet %>'+'<br>User Wallet: <%= current_user.wallet %>';
    $("#ajax").hide().html(content).slideDown().css("display","block");
    end
    }
  });
}
  else {
    $.ajax({
      url: subcategory_url,
      success: function(data) {
      var content = '<b>Payment instruction:</b><br>'+data.description;
      $("#ajax").hide().html(content).slideDown().css("display","block");
      end
      }
    });
  }
});
</script>
