<body class="bg">
<div class="container">

<div class="col-md-4 col-xs-12">
   <div class="columns">
  <ul class="price affix"  data-spy="affix" >
    <%= image_tag @plan.pimage.url(:original), :style => "margin:0" , :class =>'aimage' if @plan.pimage.exists? %>
    <li class="header"><%= @plan.name %></li>
    <li class="grey"><%= number_to_currency(@plan.price, unit:"RP ") %></li>
  </ul>
</div>
</div>
<div class="col-md-8 pform m1 col-xs-12" >
	<%= render :partial => 'form' %>
</div>

<div class="col-md-4">

</div>
<div class="col-md-8 pform m1 col-xs-12 text-center">
<p class="s28 h2Underlined">Description</p>
<p><%= @plan.description.html_safe %></p>
</div>
<div class="col-md-4">

</div>
<div class="col-md-8 pform m1 col-xs-12 text-center">
<p class="s28 h2Underlined">Include to our space</p>
<div class="col-xs-6">
  <%= image_tag current_space.about.icon_1.url(:thumb) if current_space.about.try(:icon_1).present? %>
  <p><%= current_space.about.icon_text_1  if current_space.about.try(:icon_text_1).present? %></p>
</div>
<div class="col-xs-6">
  <%= image_tag current_space.about.icon_2.url(:thumb) if current_space.about.try(:icon_2).present? %>
  <p><%= current_space.about.icon_text_2 if current_space.about.try(:icon_text_2).present?  %></p>
</div>
<div class="col-xs-6">
  <%= image_tag current_space.about.icon_3.url(:thumb) if current_space.about.try(:icon_3).present? %>
  <p><%= current_space.about.icon_text_3 if current_space.about.try(:icon_text_3).present?  %></p>
</div>
<div class="col-xs-6">
  <%= image_tag current_space.about.icon_4.url(:thumb) if current_space.about.try(:icon_4).present?  %>
  <p><%= current_space.about.icon_text_4 if current_space.about.try(:icon_text_4).present?  %></p>
</div>
</div>
<div class="col-md-4">

</div>
<div class="col-md-8 pform m1 col-xs-12 text-center">
<p class="s28 h2Underlined">Why us</p>
<%= current_space.about.description if current_space.about.try(:description).present?  %>
</div>
</div>
</body>
