<section id="location" name="location"></section>
<div class="location-wrapper">
  <div class="container-full" id="location-desktop">
    <div class="col-sm-4 media" style="padding:0;margin-top:0" data-aos="zoom-in-down">
      <img src="assets/home/img/img1.png" class="responsive media__image" style="width:100%" alt="">
      <div class="media__body">
        <p class="media_title">The Maja</p>
        <p class="media_text" style="margin-bottom:0px" >--------</p>
        <p class="media_text">
  Jalan Kyai Maja No. 39, Kebayoran Baru, Jakarta Selatan, 12120</p>
        <%= link_to "Details & Booking", root_url(subdomain: 'themaja'), :class => 'details'  %>
      </div>
    </div>
    <div class="col-sm-4 media" style="padding:0;margin-top:0" data-aos="zoom-in-down">
      <img src="assets/home/img/img2.png" class="responsive media__image" style="width:100%" alt="">
      <div class="media__body">
        <p class="media_title">The Breeze</p>
        <p class="media_text" style="margin-bottom:0px" >--------</p>
        <p class="media_text" > Jl. Grand Boulevard, BSD Green Office Park, BSD City, Tangerang, 15345</p>
        <%= link_to "Details & Booking", root_url(subdomain: 'breeze'), :class => 'details' %>
      </div>
    </div>
    <div class="col-sm-4" style="padding:0;margin-top:0" data-aos="zoom-in-down">
      <img src="assets/home/img/img3.png" class="responsive" style="width:100%" alt="">
      <div class="media__body">
        <p class="media_title">JSC hive</p>
        <p class="media_text" style="margin-bottom:0px" >Coming Soon</p>
        <p class="media_text" >JL. Prof Dr Satrio No. 7, Karet Kuningan, Jakarta Selatan.</p>
        <a href="#" class="details" data-toggle="modal" data-target="#modals" >Enquiry</a>

      </div>
    </div>
  </div>
  <div class="container-full" id="location-mobile" style="text-align:center;padding:3%">
    <div class="row bg-mobile bg-1" onclick="location.href='/location';">
      <div class="coworking-logo-w">
        <h1>Location</h1>
      </div>
    </div>
    <div class="row bg-mobile bg-2">
      <div class="coworking-logo-w" id="announcement">
        <h1>Announcement</h1>
      </div>
      <div id="announce-action">
        <a href="/blogs">View Blogs <i class="fa fa-angle-right"></i></a>
        <a href="/events">View Events <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</div>






<!-- <div class="container-full">
  <div class="row star">
    <div class="col-sm-6"  style="padding-right:0; text-align:center">
      <h2 style="color:white">Past and current member</h2>
      <p style="padding:2%;color:#b3b3b3">Ev Hive is a coworking space in Jakarta and BSD, offering knowledge sharing and community building as its core value. Through events and workshops by our network of entrepreneurs and tech communities, we help local startups grow their business</p>
      <div id="book" class="text-center" style="margin:4% 0% 4% 0%">
          <p class="chover" style="">Book Now</p>
      </div>
    </div>
    <div class="col-sm-6"  style="padding-left:0; text-align:center">
      <div class="clearfix">
          <div id="thumbcarousel" class="carousel slide" data-interval="false">
              <div class="carousel-inner">
                  <div class="item active">
                    <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="/assets/home/img/bgs.png"></div>
                    <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="/assets/home/img/bgs.png"></div>
                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="/assets/home/img/bgs.png"></div>
                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="/assets/home/img/bgs.png"></div>

                  </div>
              </div>
              <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
          </div>
      </div>
      <div class="clearfix">
          <div id="thumbcarousel2" class="carousel slide" data-interval="false">
              <div class="carousel-inner">
                  <div class="item active">
                    <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="/assets/home/img/bgs.png"></div>
                    <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="/assets/home/img/bgs.png"></div>
                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="/assets/home/img/bgs.png"></div>
                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="/assets/home/img/bgs.png"></div>
                  </div>
              </div>
              <a class="left carousel-control" href="#thumbcarousel2" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#thumbcarousel2" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
          </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container-full">
  <div class="row star">
    <div class="col-sm-6"  style="padding-right:0; text-align:center">
    <p class="w30">Event Partners</p>
    <div class="clearfix">
        <div id="thumbcarousel3" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                <div class="item active">
                    <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="/assets/home/img/end.png"></div>
                    <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="/assets/home/img/goo.png"></div>
                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="/assets/home/img/jlp.png"></div>
                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="/assets/home/img/slc.png"></div>
                </div> -->
                <!-- <div class="item">
                  <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="/assets/home/img/slc.png"></div>
                  <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="/assets/home/img/slc.png"></div>
                  <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="/assets/home/img/slc.png"></div>
                  <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="/assets/home/img/slc.png"></div>

                </div>
            </div>
            <a class="left carousel-control" href="#thumbcarousel3" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#thumbcarousel3" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div> -->
    <!-- <p style="padding:2%;color:#b3b3b3">Ev Hive is a coworking space in Jakarta and BSD, offering knowledge sharing and community building as its core value. Through events and workshops by our network of entrepreneurs and tech communities, we help local startups grow their business</p> -->
    <!-- <div id="book" class="text-center" style="margin:4% 0% 4% 0%">
        <p class="chover" style="">Book Now</p>
    </div> -->
  <!-- </div> -->
  <!-- <div class="col-sm-6" style="padding-left:0; text-align:center">
    <p class="w30">Community Partners</p>
    <div class="clearfix">
        <div id="thumbcarousel4" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="/assets/home/img/jlp.png"></div>
                    <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="/assets/home/img/jjs.png"></div>
                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="/assets/home/img/slc.png"></div>
                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="/assets/home/img/php.png"></div>
                  </div>

                </div>
            </div>
            <a class="left carousel-control" href="#thumbcarousel4" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#thumbcarousel4" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div> -->
    <!-- <p style="padding:2%;color:#b3b3b3">Ev Hive is a coworking space in Jakarta and BSD, offering knowledge sharing and community building as its core value. Through events and workshops by our network of entrepreneurs and tech communities, we help local startups grow their business</p> -->
    <!-- <div id="book" class="text-center" style="margin:4% 0% 4% 0%">
        <p class="chover" style="">Book Now</p>
    </div> -->
  <!-- </div>
</div>
</div>-->



<section class="partners">
  <div class="container-full">
    <div class="row">
      <div class="col-sm-12">
          <h1 class="text-center s28">Our Partners</h1>
      </div>
      <div class="col-sm-9 col-sm-offset-2">
        <ul class="list-inline">
          <li>
            <img src="/assets/home/img/partner/angin.png" alt="angin">
          </li>
          <li>
            <img src="/assets/home/img/partner/avpn.png" alt="avpn">
          </li>
          <li>
            <img src="/assets/home/img/partner/code4nation.png" alt="code 4 nation">
          </li>
          <li>
            <img src="/assets/home/img/partner/cozora.png" alt="cozora">
          </li>
          <li>
            <img src="/assets/home/img/partner/endeavor.png" alt="endeavor">
          </li>
          <li>
            <img src="/assets/home/img/partner/ev.png" alt="east ventures">
          </li>
          <li>
            <img src="/assets/home/img/partner/gnb.png" alt="gnb accelerator">
          </li>
          <li>
            <img src="/assets/home/img/partner/gha.png" alt="growth hacking asia">
          </li>
          <li>
            <img src="/assets/home/img/partner/google.png" alt="google">
          </li>
          <li>
            <img src="/assets/home/img/partner/jjs.png" alt="jakarta js">
          </li>
          <li>
            <img src="/assets/home/img/partner/jlp.png" alt="jakarta learns programming">
          </li>
          <li>
            <img src="/assets/home/img/partner/bizspark.png" alt="microsoft bizpspark">
          </li>
          <li>
            <img src="/assets/home/img/partner/php.png" alt="php indonesia">
          </li>
          <li>
            <img src="/assets/home/img/partner/plus.png" alt="plus">
          </li>
          <li>
            <img src="/assets/home/img/partner/ptsp.png" alt="ptsp dki jakarta">
          </li>
          <li>
            <img src="/assets/home/img/partner/sarcom.png" alt="software architect indonesia community">
          </li>
          <li>
            <img src="/assets/home/img/partner/slc.png" alt="startup legal clinic">
          </li>
          <li>
            <img src="/assets/home/img/partner/tia.png" alt="tech in asia indonesia">
          </li>
          <li>
            <img src="/assets/home/img/partner/techtif.png" alt="techtif">
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <a href="#"  data-toggle="modal" data-target="#modals" data-placement="left" data-original-title="SMS" title="">Join as Partner</a>

      </div>
    </div>


  </div>
</section>
<!-- <div class="container-full mobico">
  <div class="row">

  </div>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-6" style="margin-top:10px">
      <p class="s28b">Technology</p>
      <p>New business opportunities are being launched because of the ability to share ideas in an environment that is filled with the latest technology and individuals who know how to turn ideas into success.</p>
      <p>EV Hive provides this environment by integrating technology in our system and offerings, improving efficiency, productivity and delivering value to all stakeholders. This establishes a creative and innovative space for you to thrive in.</p>
    </div>
    <div class="col-sm-4 rimage">
    </div>

    <div class="col-sm-2">
    </div>
    <div class="col-sm-6">
      <div class="col_tab_l">
        <div class="col_tab_body_l">
          <img src="/assets/home/img/Icons/icon-1.png" class="responsive picon" style="float:left; width:100px" alt=" shared desk">
        </div>
        <div class="col_tab_body_l">
          <p class="s28b">Member Platform</p>
          <p>EV Hive members get access to the EV Hive Internal Software, a system for member-management all in one place! You can manage conference room bookings and membership payments. Keep updated with our events on this platform. You can even connect with other members in forums and browse through the number of discounts and perks,only for members, in our member benefit section. </p>
        </div>

      </div>
      <div class="col_tab_l">
        <div class="col_tab_body_l">
          <img src="/assets/home/img/Icons/icon-6.png" class="responsive picon" style="float:left; width:100px"  alt="Network">
        </div>
        <div class="col_tab_body_l">
          <p class="s28b">Tech Talks</p>
          <p>Learn from the brightest and leading experts relating to Tech for your business, from Tech Communities such as JLP and renowned speakers from various tech startups like Carousell, Mirai Apps and more.</p>
        </div>
      </div>
      <div class="col_tab_l">
        <div class="col_tab_body_l">
          <img src="/assets/home/img/Icons/icon-5.png" class="responsive picon" style="float:left; width:100px" alt="Growth">
        </div>
        <div class="col_tab_body_l">
          <p class="s28b">Tech improces productivity</p>
          <p>In partnerships with Jurnal, Rekruta and Jojonomic, EV Hive Members will get exclusive deals to help assist with the inconvenient business processes and help you focus on growing your business.</p>
        </div>
      </div>
      <p class="rquote">Growth is never by mere chance, it is the result of the forces working together</p>

    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2" >
    </div>
  </div>
</div> -->


<!-- education partners section -->
<!-- <div class="container-full star">
  <div class="row"> -->
    <!-- <div class="col-sm-6" style="padding-right:0; text-align:center">
      <p class="w30">Education Partners</p>
      <div class="clearfix">
        <div id="thumbcarousel3" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
              <div class="item active">
                <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="/assets/home/img/ttf.png"></div>
                <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="/assets/home/img/jlp.png"></div>
                <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="/assets/home/img/bgs.png"></div>
                <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="/assets/home/img/bgs.png"></div> -->
              <!--</div>--> <!-- /item -->
            <!--</div>--><!-- /carousel-inner -->
            <!-- <a class="left carousel-control" href="#thumbcarousel3" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#thumbcarousel3" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> <!-/thumbcarousel-->
      <!-- </div> -->
    <!-- <p style="padding:2%;color:#b3b3b3">Ev Hive is a coworking space in Jakarta and BSD, offering knowledge sharing and community building as its core value. Through events and workshops by our network of entrepreneurs and tech communities, we help local startups grow their business</p>
    <div id="book" class="text-center" style="margin:4% 0% 4% 0%">
        <p class="chover" style="">Book Now</p>
    </div>
  </div> -->
  <!-- <div class="col-sm-6" style="padding-left:0; text-align:center">
    <h2 style="color:white">Join our tech class</h2>
  </div> -->
<!-- </div>
</div> -->

<!-- <div class="container-full star">
  <div class="row">
    <div class="col-sm-6" style="padding-right:0; text-align:center; padding-top:15px;">
      <p class="w30">Technology Partners</p>
      <p style="padding:2%;color:#b3b3b3">Ev Hive is a coworking space in Jakarta and BSD, offering knowledge sharing and community building as its core value. Through events and workshops by our network of entrepreneurs and tech communities, we help local startups grow their business</p>
      <div id="book" class="text-center" style="margin:4% 0% 4% 0%">
          <p class="chover" style="">Book Now</p>
      </div>
    </div>
    <div class="col-sm-6" style="padding-left:0">
      <div class="clearfix">
          <div id="thumbcarousel" class="carousel slide" data-interval="false">
              <div class="carousel-inner">
                  <div class="item2 active">
                      <div data-target="#carousel" data-slide-to="0" class="thumb2"><img src="/assets/home/img/t1.png"></div>
                      <div data-target="#carousel" data-slide-to="1" class="thumb2"><img src="/assets/home/img/aws.png"></div>
                  </div>
              </div>
              <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
          </div>
      </div>
    </div>
  </div>
</div> -->

<!-- fixing facilitiy section -->
<!-- <div class="container-full mobico"> -->
  <!-- starts here -->
  <!-- <div class="row">
    <div class="col-sm-4 limage"></div>

    <div class="col-sm-6 col-sm-offset-1">
      <p class="s28b">Space</p>
      <p>Designed with startups and small businesses in mind, EV Hive is a community-driven workspace created to foster creative collaborations between community members. We cultivate innovation with specifically designed architecture and ergonomic furniture.</p>
      <p>Work in a space that features natural lighting and incorporates plant fixtures that augments a productive ambience but if that isnt enough, you can enjoy a well stocked pantry with free flow coffee.</p>
    </div>

    <div class="col-sm-6">
      <p class="lquote">Growth is never by mere chance, it is the result of the forces working together</p>

          <div class="col_tab_r">
            <div class="col_tab_body_r">
              <img src="/assets/home/img/Icons/icon-1.png"  class="responsive picon leftp" alt=" shared desk">
            </div>
            <div class="col_tab_body_r">
              <p class="s28b">Beautiful Space</p>
              <p>Creatively designed by leading architects and interior designers, this space was specifically designed to create an ambience to encourage productivity where you can work for hours and still feel comfortable.</p>
            </div>
          </div>



          <div class="col_tab_r">
            <div class="col_tab_body_r">
              <img src="/assets/home/img/Icons/icon-6.png"  class="responsive picon leftp" alt="Network">
            </div>
            <div class="col_tab_body_r">
              <p class="s28b">Ergonomic Furniture</p>
              <p>With your health and wellness in mind, you can use ergonomic furniture that improves the physical, cognitive and social experience of working at EV Hive Spaces. </p>
            </div>
          </div>



          <div class="col_tab_r">
            <div class="col_tab_body_r">
              <img src="/assets/home/img/Icons/icon-5.png"  class="responsive picon leftp" alt="Growth">
            </div>
            <div class="col_tab_body_r">
              <p class="s28b">Tech Integrated</p>
              <p>EV Hive integrates technology with our operations so you can work at ease where connecting with members, managing your membership and browsing through events and benefits can be done all on one platform.</p>
            </div>
          </div>



          <div class="col_tab_r">
            <div class="col_tab_body_r">
              <img src="/assets/home/img/Icons/icon-3.png" class="responsive picon leftp" alt="Free Coffee">
            </div>
            <div class="col_tab_body_r">
              <p class="s28b">Benefits</p>
              <p>Looking for a seat for a day or a private office for a couple of months? Need an event space to cater to large crowds or a room to hold your meeting? Seeking particular services at a cheaper rate? EV Hive facilities were made to cater to your needs with various membership types, flexible use of space and open partnerships. This gives you more time to focus on growing your business.</p>
            </div>
          </div>

    </div>
  </div> -->

  <!-- details -->
  <!-- <div class="row">

  </div> -->
  <!-- ends here -->
<!--
    </div>
  </div>
</div> -->

<!-- <div class="container-full mobico">
  <div class="row">

  </div>
  <div class="row">
    <div class="col-sm-4" style="">
    </div>
    <div class="col-sm-6 leftp">
      <p class="s28b">Space</p>
      <p>Designed with startups and small businesses in mind, EV Hive is a community-driven workspace created to foster creative collaborations between community members. We cultivate innovation with specifically designed architecture and ergonomic furniture.</p>
      <p>Work in a space that features natural lighting and incorporates plant fixtures that augments a productive ambience but if that isnt enough, you can enjoy a well stocked pantry with free flow coffee.</p>
    </div>
    <div class="col-sm-2" >
    </div>




    <div class="col-sm-2" >
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-6">
      <p class="lquote">Growth is never by mere chance, it is the result of the forces working together</p>

      <div class="col_tab_r">
        <div class="col_tab_body_r">
          <img src="/assets/home/img/Icons/icon-1.png" class="responsive picon leftp" alt=" shared desk">
        </div>
        <div class="col_tab_body_r">
          <p class="s28b">Beautiful Space</p>
          <p>Creatively designed by leading architects and interior designers, this space was specifically designed to create an ambience to encourage productivity where you can work for hours and still feel comfortable.</p>
        </div>
      </div>
      <div class="col_tab_r">
        <div class="col_tab_body_r">
          <img src="/assets/home/img/Icons/icon-6.png" class="responsive picon leftp" alt="Network">
        </div>
        <div class="col_tab_body_r">
          <p class="s28b">Ergonomic Furniture</p>
          <p>With your health and wellness in mind, you can use ergonomic furniture that improves the physical, cognitive and social experience of working at EV Hive Spaces. </p>
      </div>
    </div>
      <div class="col_tab_r">
        <div class="col_tab_body_r">
          <img src="/assets/home/img/Icons/icon-5.png" class="responsive picon leftp" alt="Growth">
        </div>
        <div class="col_tab_body_r">
          <p class="s28b">Tech Integrated</p>
          <p>EV Hive integrates technology with our operations so you can work at ease where connecting with members, managing your membership and browsing through events and benefits can be done all on one platform.</p>
        </div>
      </div>
      <div class="col_tab_r">
        <div class="col_tab_body_r">
          <img src="/assets/home/img/Icons/icon-3.png" class="responsive picon leftp" alt="Free Coffee">
        </div>
        <div class="col_tab_body_r">
          <p class="s28b">Benefits</p>
          <p>Looking for a seat for a day or a private office for a couple of months? Need an event space to cater to large crowds or a room to hold your meeting? Seeking particular services at a cheaper rate? EV Hive facilities were made to cater to your needs with various membership types, flexible use of space and open partnerships. This gives you more time to focus on growing your business.</p>
        </div>
      </div>

    </div>
  </div>
</div> -->

<!-- <div class="container-full star">
  <div class="row">
    <div class="col-sm-6" style="padding-right:0; text-align:center">
      <p class="w30">Space Backers</p>
      <p style="padding:2%;color:#b3b3b3">Ev Hive is a coworking space in Jakarta and BSD, offering knowledge sharing and community building as its core value. Through events and workshops by our network of entrepreneurs and tech communities, we help local startups grow their business</p>
    </div>
    <div class="col-sm-6" style="padding-left:0">
      <div class="clearfix">
          <div id="thumbcarousel" class="carousel slide" data-interval="false">
              <div class="carousel-inner">
                  <div class="item2 active">
                      <div data-target="#carousel" data-slide-to="0" class="thumb2"><img src="/assets/home/img/ev.png"></div>
                      <div data-target="#carousel" data-slide-to="1" class="thumb2"><img src="/assets/home/img/bgs.png"></div>
                  </div>
              </div>
              <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
          </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container-full mobico">
  <div class="row">

  </div>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-6">
      <p class="s28b">Community</p>
      <p>Growth is never by mere chance, it is the result of forces working together. We are more than just a place for work, we are a community that grows together and becomes successful together</p>
      <p>EV Hive lets you thrive in an exceptional base for collaboration and innovation with the support from like-minded people. With a vision to build up the Indonesian Startup Ecosystem through knowledge-sharing, you can hone skills and diversify your network, in our various events and programs to produce opportunities of the future.</p>
    </div>
    <div class="col-sm-4 rimage">
    </div>

    <div class="col-sm-2">
    </div>
    <div class="col-sm-6">
      <div class="col_tab_l">
        <div class="col_tab_body_l">
          <img src="/assets/home/img/Icons/icon-1.png" class="responsive picon" style="float:left; width:80px" alt=" shared desk">
        </div>
        <div class="col_tab_body_l">
          <p class="s28b">Event</p>
          <p>We host a series of weekly knowledge-sharing sessions such as BizTalks, TechTalks by our network of entrepreneurs and Tech-Communities to help you flourish your business. Learn from industry experts and executives from established organizations such as Google and GoJek and successful startups like Traveloka, Tokopedia and many more !As an EV Hive member, attend member-exclusive internal events to get to know your Co-workers and feel like your workplace is your second-home. We want to create a positive environment for you to work in.</p>
        </div>
      </div>
      <div class="col_tab_l">
        <div class="col_tab_body_l">
          <img src="/assets/home/img/Icons/icon-6.png" class="responsive picon" style="float:left; width:80px"  alt="Network">
        </div>
        <div class="col_tab_body_l">
          <p class="s28b">Programs</p>
          <p>As an Ev Hive member, and attend member exclusive internal events to get to know your co-workers and feel like your workplace is your second home. We want to create possitive environment for you to work in </p>
        </div>
      </div>
      <div class="col_tab_l">
        <div class="col_tab_body_l">
          <img src="/assets/home/img/Icons/icon-5.png" class="responsive picon" style="float:left; width:80px" alt="Growth">
        </div>
        <div class="col_tab_body_l">
          <p class="s28b">Network</p>
          <p>EV Hive is constantly expanding our diverse network of entrepreneurs and tech-communities so our members gains exposure and connect. Being backed by East Ventures, EV Hive members enjoy multitudes of opportunities for networking beyond the internal community and investor exposure.</p>
        </div>
      </div>
      <div class="col_tab_l">
        <div class="col_tab_body_l">
          <img src="/assets/home/img/Icons/icon-3.png" class="responsive picon" style="float:left; width:80px" alt="Free Coffee">
        </div>
        <div class="col_tab_body_l">
          <p class="s28b">Benefits</p>
          <p>Being an EV Hive member you can enjoy benefits from partner companies that alleviate troublesome business process such as HRD, Back office tools, Development Infrastructure and Company Events.</p>
        </div>
      </div>
      <p style="position:absolute;top:55px;text-align:right;font-size:28px;line-height:55px;z-index:999;background:white;width:205px;left:800px;padding:15px">Growth is never by mere chance, it is the result of the forces working together</p>

    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2" >
    </div>
  </div>
</div> -->

<!-- <div class="container-full star">
  <div class="row">
  <div class="col-sm-12" style="text-align:center">
    <h1 style="color:white">Landlord partner</h1>
    <p style="padding:2%;color:#b3b3b3">Ev Hive is a coworking space in Jakarta and BSD, offering knowledge sharing and community building as its core value. Through events and workshops by our network of entrepreneurs and tech communities, we help local startups grow their business</p>

  </div>
</div>
</div> -->
<div class="modal fade" id="modals" role="dialog">
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Enquiry form</h4>
        </div>
        <div class="modal-body">
          <p><%= render 'homeleads/form' %></p>
        </div>
        <div class="modal-footer">
          <p>Please fill your enquiry at the given form</p>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
$(document).ready(function(){
  $("#announcement").on("click",function(){
    $("#announce-action").slideToggle();
  });
  $(".thanks").click(function(){
    alert("We will get back to you soon!");
  });
});

</script>


<style media="screen">
/* CSS used here will be applied after bootstrap.css */

</style>
