<% if current_space.nil? %>
<%= render 'home/landing' %>
<% end %>
<!-- start the if subdomain exist -->
<% if !current_space.nil? %>
<%= render 'home/domain' %>
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
  $('#myCarousel').find('.item').first().addClass('active');
  $('#myCarousel2').find('.item').first().addClass('active');

});
$("#book").click(function() {
    $('html,body').animate({
        scrollTop: $("#contacts").offset().top -100 },
        'slow');
});
$("#enquiry").click(function() {
    $('html,body').animate({
        scrollTop: $("#contacts").offset().top -100 },
        'slow');
});
</script>
