<div class="container mc">

  <div class="col-lg-12" style="margin-bottom:25px; padding-top:10px;">
    <div class="centered" >
      <p class="s28">Event</p>
      <p class="intro_text">As a believer of peer-to-peer learning, we organize various sharing, keynotes, panels and workshops with experts in the industry every week. Through events and workshops by our network of entrepreneurs and tech communities, we help local startups grow their businesses. </p>
    </div>
  </div>

  <div class="row">
  <%- model_class = Event -%>
  <% @events.each do |event| %>
    <div class="col-md-4 col-xs-12">
     <div class="card home-event">
      <%= image_tag event.image.url(:medium), :class => "img-responsive"%>
      <div class="card-block">
        <h4><%= event.name %></h4>
        <!-- <p class="event-desc"><%= truncate(event.description.html_safe, :length => 100 ) %></p> -->
        <p><%= event.start_date.strftime("%d %B %Y") %> @ <%= event.start_date.strftime("%I:%M %p") %></p>
        <p><%= link_to "View Event", event_path(event), :class => "btn-view"%></p>
      </div>
    </div>
    </div>

  <% end %>
  </div>
</div>
