<style media="screen">
  body{
    background-color: #e4e4e4;
  }
</style>
<div class="container ev">
  <%- model_class = Event -%>
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12 event-header tint">
        <%= image_tag(@event.image.url(:original), :class => "img-responsive")%>
        <div class="event-date">
          <h3><%= @event.name %></h3>
          <p><strong><%= @event.start_date.strftime("%d %B %Y") %> |
            <%= @event.start_date.strftime("%I:%M %p") %></strong>
          </p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12 event-details">
      <div class="event-description">
        <strong>Description</strong>
        <p><%= @event.description.html_safe %></p>
      </div>

      <%= link_to t('.back', :default => t("helpers.links.back")),
                    events_path, :class => 'btn btn-default'  %>
    </div>

  </div>
</div>
