<%= form_for [:admins,@user], :html => { :class => "form-horizontal" } do |f| %>
  <div class="form-group" >
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control'%>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group" >
    <%= f.label :password, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :password, :class => 'form-control'%>
    </div>
    <%=f.error_span(:password) %>
  </div>
  <div class="form-group" >
    <%= f.label :password_confirmation, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :password_confirmation, :class => 'form-control'%>
    </div>
    <%=f.error_span(:password_confirmation) %>
  </div>
  <%= f.fields_for :profile do |builder|  %>
    <div class="form-group" >
      <%= builder.label :fullname, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= builder.text_field :fullname, :class => 'form-control'%>
      </div>
      <%=builder.error_span(:fullname) %>
    </div>
  <% end %>
  <div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
    <%= f.submit nil, :class => 'btn btn-success btn-block' %>
  </div>
</div>
<% end %>
