<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="col-md-12"> -->


  <div class="form-group col-md-6">
    <%= f.label 'First name', :class => 'control-label' %><br>
    <%= f.text_field :firstname,:required => true, :class => 'form-control', :placeholder => 'First name' %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label 'Last name', :class => 'control-label' %>
    <%= f.text_field :lastname, :class => 'form-control', :placeholder => 'Last name'  %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :phone, :class => 'control-label' %><br>
    <%= f.text_field :phone,:required => true, :class => 'form-control', :placeholder => 'Phone Number'  %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :email, :class => 'control-label' %><br>
    <%= f.text_field :email,:required => true, :class => 'form-control', :placeholder => 'Email'  %>
  </div>
  <div class="form-group col-md-12">
    <%= f.label :enquiry %><br>
    <%= f.text_area :enquiry,:required => true, :class => 'form-control col-lg-12', :placeholder => 'Enquiry', :style =>'resize:none;'  %>
  </div>
  <div class="form-group col-md-12">
    <%= recaptcha_tags %>
  </div>
  <div class="form-group col-md-12">
    <%= f.submit 'Submit',  :class => 'cta1'  %>
  </div>

<!-- </div> -->
<% end %>
