<%- model_class = Contact -%>
<div class="box-header with-border">
  <h3 class="box-title">List Contacts Lead</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Created at:</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Enquiry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.firstname %> <%= contact.lastname %></td>
        <td><%= contact.created_at.strftime("%d-%m-%Y") %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.email %></td>
        <td><%= contact.enquiry %></td>
        <td><%= link_to 'Show', admins_contact_path(contact), :class => 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_admins_contact_path(contact), :class => 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Destroy', admins_contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-danger btn-xs'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_admins_contact_path %>
