<body class="login-page">
  <div class="container mc">
    <div class="row">
      <div class="col-md-8 col-md-offset-4 login-panel">
        <div class="row">
          <div class="col-sm-6 col-md-6 features show-large">
            <div class="login-box">
              <div class="login-box-body">
                <p class="login-box-msg">Administrator Panel</p>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
                  <div class="form-group has-feedback">
                    <%= f.label :email %>
                    <%= f.email_field :email, autofocus: true, class: "form-control" %>
                  </div>
                  <div class="form-group has-feedback">
                    <%= f.label :password %>
                    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                  </div>
                  <% if devise_mapping.rememberable? %>
                    <div class="checkbox icheck">
                      <%= f.label :remember_me do %>
                        <%= f.check_box :remember_me %> <%= t('.remember_me', :default => "Remember me") %>
                      <% end %>
                    </div>
                  <% end %>
                  <%= f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-primary btn-block btn-flat" %>
                <% end %>
                <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />

              </div>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>

</body>
