<div class="container mc">
<!-- <div class="col-md-3">
  <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="235">
          <li><a href="#sec0">Section 0</a></li>
          <li><a href="#sec1">Section 1</a></li>
          <li><a href="#sec2">Section 2</a></li>
          <li><a href="#sec3">Section 3</a></li>
          <li><a href="#sec4">Section 4</a></li>
        </ul>
</div> -->
<!-- <div class="col-md-9"> -->
<%- model_class = Profile -%>
<% @profiles.each do |profile| %>
<div class="col-xs-12 col-md-3 col-centered">
<div class="box box-primary">
            <div class="box-body box-profile">
            <% if profile.avatar.present? %>
              <%= image_tag profile.avatar.url(:thumb), :class => "profile-user-img img-responsive img-circle" %>
             <% else %>
             <img src="/img/user.png" class="profile-user-img img-responsive img-circle">
             <% end %>
              <h3 class="profile-username text-center"><%= profile.fullname %></h3>
              <!-- too be change to be job title -->
             <!--  <p class="text-muted text-center">Software Engineer</p> -->

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
              <b>Company</b> <a class="pull-right">
              <% if profile.company.present? %>
              	<%= profile.company.name %>
              <% else %>

              	<% end %>

              </a>
                </li>
                <li class="list-group-item">
                  <b>phone</b> <a class="pull-right"><%= profile.phone %></a>
                </li>
                <!-- <li class="list-group-item coadd">
                  <b>Address</b><br>
                  <% if profile.address.present? %>
                  <%= profile.address %>
                  <% end %>
                </li> -->
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
</div>
<% end %>
<!-- </div> -->
</div>
