  <div class="container-full">
    <div class="row">

    <div class="col-sm-4 media" style="padding:0;margin-top:0" data-aos="zoom-in-down">
      <img src="/assets/home/img/img1.png" class="responsive media__image" style="width:100%" alt="">
      <div class="media__body">
        <p class="media_title">The Maja</p>
        <p class="media_text" style="margin-bottom:0px" >-----</p>
        <p class="media_text">
  Jalan Kyai Maja No. 39, Kebayoran Baru, Jakarta Selatan, 12120</p>
        <%= link_to "Details & Booking", root_url(subdomain: 'themaja'), :class => 'details'  %>
      </div>
    </div>
    <div class="col-sm-4 media" style="padding:0;margin-top:0" data-aos="zoom-in-down">
      <img src="/assets/home/img/img2.png" class="responsive media__image" style="width:100%" alt="">
      <div class="media__body">
        <p class="media_title">The Breeze</p>
        <p class="media_text" style="margin-bottom:0px" >-----</p>
        <p class="media_text" > Jl. Grand Boulevard, BSD Green Office Park, BSD City, Tangerang, 15345</p>
        <%= link_to "Details & Booking", root_url(subdomain: 'breeze'), :class => 'details' %>
      </div>
    </div>
    <div class="col-sm-4" style="padding:0;margin-top:0" data-aos="zoom-in-down">
      <img src="/assets/home/img/img3.png" class="responsive" style="width:100%" alt="">
      <div class="media__body">
        <p class="media_title">JSC hive</p>
        <p class="media_text" style="margin-bottom:0px" >Coming Soon</p>
        <p class="media_text" >JL. Prof Dr Satrio No. 7, Karet Kuningan, Jakarta Selatan.</p>
        <a href="#" class="details" data-toggle="modal" data-target="#modals" >Enquiry</a>
      </div>
    </div>
  </div>

  </div>
  <div class="modal fade" id="modals" role="dialog">
      <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Enquiry form</h4>
          </div>
          <div class="modal-body">
            <p><%= render 'homeleads/form' %></p>
          </div>
          <div class="modal-footer">
            <p>Please fill your enquiry at the given form</p>
          </div>
        </div>
      </div>
    </div>
