<%- model_class = Benefit -%>
<div class="box-header with-border">
  <h3 class="box-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <th>logo</th>
    </tr>
  </thead>
  <tbody>
    <% @benefits.each do |benefit| %>
      <tr>
        <td><%= link_to benefit.id, admins_benefit_path(benefit) %></td>
        <td><%= benefit.name %></td>
        <td><%= benefit.description %></td>
        <td><%= image_tag benefit.logo.url(:thumb), :class => "profile-user-img img-responsive img-circle" %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      admins_benefit_path(benefit), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admins_benefit_path(benefit), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admins_benefit_path(benefit),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admins_benefit_path,
            :class => 'btn btn-primary' %>
