<%- model_class = Benefit -%>
<div class="box-header with-border">
  <h3 class="box-title"><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h3>
</div>
<%= render :partial => 'form' %>
