<%- model_class = Benefit -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @benefit.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @benefit.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:logo_file_name) %>:</strong></dt>
  <dd><%= @benefit.logo_file_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:logo_content_type) %>:</strong></dt>
  <dd><%= @benefit.logo_content_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:logo_file_size) %>:</strong></dt>
  <dd><%= @benefit.logo_file_size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:logo_updated_at) %>:</strong></dt>
  <dd><%= @benefit.logo_updated_at %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              admins_benefits_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admins_benefit_path(@benefit), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admins_benefit_path(@benefit),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
