<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @testimonial.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @testimonial.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @testimonial.description %>
</p>

<%= link_to 'Edit', edit_admins_testimonial_path(@testimonial) %> |
<%= link_to 'Back', admins_testimonials_path %>
