<%= form_for(@homelead) do |f| %>
  <% if @homelead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homelead.errors.count, "error") %> prohibited this homelead from being saved:</h2>

      <ul>
      <% @homelead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= f.label 'Full name', :class => 'control-label' %><br>
    <%= f.text_field :fullname,:required => true, :class => 'form-control', :placeholder => 'Full name' %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label 'Phone', :class => 'control-label' %>
    <%= f.text_field :phone, :class => 'form-control', :placeholder => 'Phone'  %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :email, :class => 'control-label' %><br>
    <%= f.text_field :email,:required => true, :class => 'form-control', :placeholder => 'Email'  %>
  </div>
  <div class="form-group col-md-12">
    <%= f.label :notes, :class => 'control-label' %><br>
    <%= f.text_area :notes,:required => true, :class => 'form-control', :placeholder => 'notes'  %>
  </div>
  <div class="form-group col-md-12">
    <%= f.submit 'Submit', :class => 'pbutton ptext btn-block thanks' %>
  </div>
<% end %>
