<p id="notice"><%= notice %></p>

<h1>Listing Homeleads</h1>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homeleads.each do |homelead| %>
      <tr>
        <td><%= homelead.fullname %></td>
        <td><%= homelead.phone %></td>
        <td><%= homelead.email %></td>
        <td><%= homelead.notes %></td>
        <td><%= link_to 'Show', homelead %></td>
        <td><%= link_to 'Edit', edit_homelead_path(homelead) %></td>
        <td><%= link_to 'Destroy', homelead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homelead', new_homelead_path %>
