<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @homelead.fullname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @homelead.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @homelead.email %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @homelead.notes %>
</p>

<%= link_to 'Edit', edit_homelead_path(@homelead) %> |
<%= link_to 'Back', homeleads_path %>
