// Variable
$orange:#fa9a0d;
$grey:#696969;
$light-orange: #eeb08a;



//mixin
@mixin font-color($color) {
  color: $color;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
