/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require dataTables/bootstrap/2/jquery.dataTables.bootstrap
 *= require dataTables/extras/dataTables.responsive
 *= require_self
 *= require bootstrap-datepicker
 *= require bootstrap-datetimepicker
 *= require fullcalendar
 *= require devise_bootstrap_views
 *= require bootstrap-wysihtml5
 *= require social-share-button
 *= require introjs
 *= stub "active_admin"
 *= require owl.carousel
 *= require owl.theme
 *= require select2-bootstrap
 *= require select2
 */

.devise-bs{
	margin-top: 2%;
}
/*
.well{
	background: black!important;
	margin-bottom: 0px!important;
}*/

.mc{
	margin-top: 20px;
	margin-bottom: 20px;
}
.profile-user-img{
	min-height: 150px;
	max-height: 150px;
}

.coadd{
	min-height:100px;
}
.profile-username{
	min-height: 50px;
}

.alert{
	margin-top: 20px;
}

.forumbox{
	padding:3%;
	margin-bottom:10px;
	border-radius:10px;
	border:2px solid #3bc492;
}

.forumtitle{
	font-weight: 700;
	color:#f39c12;
}
.scroll {
    height: 100px;
    overflow: scroll;
}
.field_with_errors {
  background-color: transparent!important;
}

.ubox{
	padding:2%;
	margin-bottom:10px;
	border-radius:10px;
	border:2px solid #3bc492;
}

.fbox{
	padding:2%;
	margin-bottom:10px;
	border-radius:10px;
	border:2px solid #f39c12;
}

.clogo{
	width: 50%!important;
	display: inline;
}
.image-section .pattern-overlay {
	background-color: rgba(255, 255, 255, 0.59);
	padding: 110px 0 32px;
	min-height: 727px;
	z-index: 9999;
}
.video-section .pattern-overlay {
/*background-color: rgba(71, 71, 71, 0.59);*/
padding: 110px 0 32px;
min-height: 727px;
/* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
text-align:center;
color:#fff;
}
.video-section h1{
font-size:110px;
font-family: 'Buenard', serif;
font-weight:bold;
text-transform: uppercase;
margin: 40px auto 0px;
text-shadow: 1px 1px 1px #000;
-webkit-text-shadow: 1px 1px 1px #000;
-moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
font-size: 25px;
font-weight:lighter;
margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
/*.video-section{top:-50px}*/
.player {font-size: 1px;}
/*add img height*/
.c1 .carousel-inner > .item > img,
.c1 .carousel-inner > .item > a > img {
  height: 700px;    /* Set slide height here */
}
.c2 .carousel-inner > .item > img,
.c2 .carousel-inner > .item > a > img {
  max-height: 550px;    /* Set slide height here */

}
.btn-group-sm .btn-fab{
  position: fixed !important;
  right: 24px;
}
.btn-group .btn-fab{
  position: fixed !important;
  right: 20px;
}
#main{
	border-radius: 50%;
  bottom: 20px;
}
#mail{
	border-radius: 50%;
  bottom: 70px
}
#sms{
	border-radius: 50%;
  bottom: 115px
}
.modal-body {
    height:auto;
    overflow:auto;
}
