// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*PEN STYLES*/
/*
*  Basic Reset
*/

.blog-header{
  padding-top: 10px;
}
.article{
  margin: 0 12% 0 12%;
}

a.btn-read{
  border: 2px solid #fff;
  color: #fff;
  padding: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  &:hover{
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
}

/*--------Card Component------------*/
.card{
  width: 300px;
  margin: 30px auto;
  box-shadow: 0px 5px 5px #888888;
  color: #fafafa;

  // &:hover{
  //   opacity: 0.5;
  // }
  img{
    opacity: 0.8;
    height: 300px;

  }
}

.tint{
  background: rgba(0,0,0,1);
}


.card-title{
  // padding-top: 10px;
  color: #fff;
  width: 80%;
  font-size: 21px;
}

.card-block{
  // background: #fff;
}

.card-image-top{
  width: 100%;
}

.card-img-overlay{
  position: absolute;
  top:20%;
  left: 20%;

}

// .card-block{
//   padding: 5px 15px;
// }

.card-action{
  padding: 10px 0px;
}

.card-date{
  padding-top: 10px;
}
/*--------End-------------*/

@media screen and (min-width:300px) and (max-width:700px) {
  .blog-header{
    padding-top: 50px;
  }

  .card{
    width: 100%;
    margin: 20px auto;
    img{
      width: 100%;
      height: 100%;
    }
  }

  .card-title{
    font-size: 19px;
  }

  .card-img-overlay{
    position: absolute;
    top:10%;
    left: 20%;

  }

  .card-text{
    text-align: justify;
  }
}
