// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.color-index{
  border-radius:2px;
  height:17px;
  width:150px;
  display:inline-table;
  // float:left;
  padding: 1%;
  margin-right: 0.5%
}
.introjs-helperNumberLayer {
  padding: 0!important;
  width: 25px!important;
  height: 25px!important;
}
@media screen and (min-width:300px) and (max-width:700px){
  .pbutton{
    margin-top: 1%!important;
    margin-bottom: 1%!important
  }
}
