// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "partials";

#dashboard{

}

.sidebar-nav{
  background: #bdbdbd;
  height: 100%;
  position: fixed;
  top: 6rem;
  left: 0px;
  width: 150px;
  padding-top: 30px;
  z-index:3;
  overflow-y: hidden;
  transition: 0.5s;
  display: block;
  // display: none;
}

#full-sidebar{
  // display: none;
}
#mini-sidebar{
  // display: show;
}

.sidebar-nav ul{
  margin: 0;
  padding: 0;
}
.sidebar-nav li{
  margin-bottom: 20px;
  display: block;
  list-style: none;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  // border-bottom: 1px solid #fff;
  // text-align: center;

  a{
    color: #fff;
    margin-left: 30px;
    &:hover{
      color: #696969;
    }
  }
}

.sidebar-nav li span i.fa-angle-double-right{
  display: none;
}

.sidebar-nav li span:last-child{
  // display: none;
}
#content{
  padding-top: 1rem;
  padding-left: 150px;
  transition: 0.5s;
}

.event-calendar{
  .owl-buttons{
    .owl-prev{
      position: relative;
      bottom: 0;
      left: 0;
      font-size: 14px !important;
      font-weight: bold !important;
      background: #fa9a0d !important;
    }
    .owl-next{
      position: relative;
      bottom: 0;
      right: 0;
      font-size: 14px !important;
      font-weight: bold !important;
      background: #fa9a0d !important;
    }
  }
}

.calendar{
  position: relative;
  background: white;
  width: 70px;
  margin: 0 auto;
  top: -30px;
  .calendar-month{
    padding: 5px;
    background: #555;
    color: white;
  }
  .calendar-date{
    padding:10px;
  }
  // .calendar-body{
  //   position: absolute;
  //   top: 70%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  // }
}


/*when menu botton pressed*/
#dashboard.displayed .sidebar-nav{
  width: 80px;
  li{
    span
    {
      i.fa-angle-double-left{
        display: none;
      }
      i.fa-angle-double-right{
        display: inline-block;
      }
    }
    span:last-child{
      display: none;
    }
  }
}


#dashboard.displayed #content{
  padding-left: 80px;
}

@media screen and (min-width:300px) and (max-width:700px) {
  .sidebar-nav{
    top:8%;
    width: 135px;
  }
  #content{
    padding-left: 135px;
    .row{

    }
    .widgets{
      padding:0;
    }
    .ev{
      margin-left: 10px;
    }
  }
  #dashboard.displayed .sidebar-nav{
    width: 70px;
  }
  #dashboard.displayed #content{
    padding-left: 70px;
    .row{
        padding-left: 1%;
    }
    // padding-left: 150px;
  }
  .calendar{
    position: relative;
    top: -30px;

    .calendar-body{
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
