// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail{
  box-shadow: 5px 7px 5px #888888;
}

.ev{
  padding-bottom: 30px;
}


.event-header{
  padding: 0px;
  img{
    opacity: 0.85;
    width: 100%;
    height: 350px;
  }

  .event-date{
    position: absolute;
    top:60%;
    left: 8%;
  }
}


.tint{
  background: rgba(0,0,0,1);
}

.event-details{
  padding: 20px;
  background: #fff;
}

.event-description{
  padding: 20px 0px;
  p{
    margin-top: 20px;
  }
}

.event-date{
  color: #fff;
  h3{
    color: #fff;
  }
  p{
    margin:20px 0px;
  }
}

a.btn-back{
  color: #000;
  border: 1px solid #000;
  padding: 5px;
  font-size: 20px;

  &:hover{
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 3px #000;
  }
}

/*-------index event page-----------*/
.home-event{
  width: 85%;
  border-radius: 20px;
  min-height: 375px;
  max-height: 400px;
  img{
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    width: 100%;
    height: 200px;
  }
  .card-block{
    padding-bottom: 1px;
    text-align: center;
    p{
      color: #333;

    }

    a.btn-view{
      border: 2px solid #696969;
      display: block;
      padding: 10px;
      font-size: 14px;
      border-radius: 30px;
      width: 150px;
      margin: 20px auto;
      text-transform: uppercase;
      &:hover{
        color: white;
        background-color: #696969;
      }
    }
  }
}

@media screen and (min-width:300px) and (max-width:700px) {
  .home-event{
    width: 85%;
    img{
      width: 100%;
      height: 200px;
    }
  }
  .event-header{
    padding: 0px;
    img{
      height: auto;
    }

    .event-date{
      display: none;
    }
  }
}
