// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials";

.font-orange{
  @include font-color($orange);
}
.font-white{
  @include font-color(white);
}
.font-black{
  @include font-color(black);
}

.overlay{
  background: black;
  img{
    opacity: 0.5;
  }
}

body{
  padding-top:60px;
}


.carousel-caption.banner{
  position: absolute;
  left: 50%;
  h3{
    font-size: 1.75em;
  }
  p{
    font-size: 25px;
    margin-bottom: 30px;
  }
}
.cta1{
  @extend .font-white;
  background: $orange;
  padding: 10px;
  border:2px solid $orange;
  transition: all 0.2s;
  &:hover{
    opacity: 0.8;
  }
}

.cta2{
  @extend .font-white;
  background: rgba(155,155,154,0.5);
  border: 2px solid white;
  padding: 10px;
  transition: all 0.5s;
  &:hover{
    background: rgba(155,155,154,1);
    border: 2px solid rgba(155,155,154,1);
  }
}

.cta-plan{
  @extend .font-white;
  margin-top: 2%;
  background: transparent;
  padding: 2%;
  border:1px solid $orange;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  transition: all 0.5s;
  &:hover{
    margin-top: 2%;
    padding: 2%;
    background: $orange;
    color:white;
  }
  p{
    margin:0;
  }
}

.event_desc{
  min-height: 140px;
  max-height: 140px;
  overflow: hidden;
  padding: 5%;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 20px;
}
.pbutton{
  margin-top: 2%;
  background: black;
  padding: 2%;
  border:1px solid transparent;
}
.pbutton:hover{
  margin-top: 2%;
  background: white;
  padding: 2%;
  border:1px solid black;
}
.ptext {
  margin:0;
  color:white!important
}
.ptext:hover{
  margin:0;
  color:black!important
}
.banner{
  text-align: left!important;
  width: 500px;
}
.carousel-caption{
  padding-top: 0px!important;
  top: 250px;
}

.bhover{
  font-family:500;
  font-size:20px;
  display: inline;
  color: white;
  background: transparent;
  padding: 1%;
  border: 2px solid white;
  transition: all 0.2s;
}
.bhover:hover{
  background: black;
  color:white;
  border:2px solid black;
}
.s28{
  font-size: 28px;
  color: black;
  font-weight: 500;
}
.s28b{
  font-size: 28px;
  color: black;
  margin:0;
  font-weight: 500;
}
.w30{
  margin: 0;
  font-size: 32px;
  color: white;
  font-weight: 500;
}
.m2{
  margin-top: 3%;
  margin-bottom: 3%;
}
.m2ntop{
  margin-bottom: 2%;
}
.m1{
  margin-top: 1%;
  margin-bottom: 1%;
}

.line{
  width: 15%;
  margin: 0 auto;
  border-color: #fa9a0d;
}

.bg-black{
  height: 468px;
  padding-top: 12%;
  background: #040404;
}

.owl-wrapper{
  margin-top: 18%;
}

// .owl-item{
//   width: 100%!important;
// }

.testimonial{
  background: #f9f9f9;
  padding: 50px 50px;
}

.testimonial-body{
  width: 70%;
  margin: 0 auto;
}

.testimonial-inner{
  position: absolute;
  top: 10%;
  left: 40%;
  max-width: 500px;
}

/*------plan-------*/
.wrapper-plan{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 30px;
  margin: 0px auto;
  // margin: 5px 14%;

}
.plan{
  background: black;
  border: 1px solid white;
  position: relative;
  transition: all 0.5s;
  img{
    max-height:100%;
    width:100%;
    opacity:0.65;
  }
  &:hover{
    bottom: 2px;
    img{
      opacity: 0.8;
    }
  }
}
.plan-item{
  width: 33%;
  height: 200px;
  border: 1px solid white;
  position: relative;
  background: black;

  img{
    opacity: 0.7;
  }
  &:hover{
    img{
      opacity: 0.85;
    }
  }
}

.plan-price{

}

.plan-details{
    position: absolute;
    top: 30%;
    left: 50%;
    padding: 5%;
    transform: translate(-50%, -50%);
}


/*-----Contact------*/
.address{
  margin-top: 20px;
}

.maps{
  padding: 0;

  iframe{
    border: 0;
    overflow-y: hidden;
  }
}

/*------ owl-control ------*/
.owl-page{
  span{
    background: $orange!important;
  }
}

.owl-prev{
  position: absolute;
  top:55%;
  left:0;
  font-size: 14px!important;
  font-weight: bold!important;
  background: $orange!important;
}

.owl-next{
  position: absolute;
  top:55%;
  right:0;
  margin:0;
  font-size: 14px!important;
  font-weight: bold!important;
  background: $orange!important;
}

/*-----end-----*/

/*-----Footer-------*/
.footer{
  background: black;
  position: absolute;
  left: 0;
  right: 0;

  ul{
    li{
      list-style-type: none;
    }
  }
}
.location{
  ul{
    margin: 16% auto;
  }
}

.social-icons{
  margin: 16% auto;
  text-align: center;
  a{
    &:hover{
      color: white;
    }
    &:focus{
      color:#696969;
    }
  }

  li{
    margin: 0 5px;
  }

}

/*-----End------------*/

@media screen and (min-width:300px) and (max-width:700px){
  /*navbar section*/
  .navbar{

    li{
      a.smothscroll{
        height: 60px;
      }

    }
  }
  .navbar-collapse.collapse.in{
    max-height: 450px;
  }

  button.navbar-toggle{
    margin-top: 15px;
  }
  /*end*/

.carousel-caption.banner{
    position: absolute;
    left: 50%;
    h3{
      font-size: 1.375em;
    }
    p{
      font-size: 18px;
      margin-bottom: 30px;
    }
  }


  // .carousel-caption{
  //   bottom:0px;
  // }

  blockquote{
    display: none;
  }
  .partners{
    .list-inline{
      margin-left: 8%;
    }
  }

  .bg-mobile{
    max-height: 400px;
    padding: 20px;
  }
  .bg-1{
    background-image: url("/assets/home/img/about/photo1.jpg");
  }
  .bg-2{
    background-image: url("/assets/home/img/about/photo2.jpg");
  }
  #location-desktop{
    display: none;
  }
  #location-mobile{
    display: block!important;
  }
  #announcement{
    display: block;
  }
  #announce-action{
    display: none;
    height: 110px;
    padding-top: 10px;
    a{
      border: 3px solid white;
      margin:7px;
      padding: 5px;
      color: white;
      margin: 10px auto;
      display: block;
    }
  }
  /*------subdomain--------*/
  .img-banner{
    max-height: 400px;
  }

  .banner{
    text-align: center!important;
    @include centerer;
    margin: 0 auto;
    max-width: 300px;
    p{
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  .plan-details{
    position: absolute;
    top: 30%;
    left: 50%;
    padding: 5%;
    transform: translate(-50%, -50%);
      h3{
        font-size: 30px;
      }
      p{
        font-size: 18px;
      }
  }

  .testimonial-body{
    min-height: 370px;
    img{
      margin: 0 auto;
    }
  }
  .testimonial-inner{
    position: static;
    // top: 10%;
    // left: 40%;
    // max-width: 500px;
  }

  /*footer section*/
  .footer-logo{
    display: none;
  }
  .copyright{
    text-align: center;
  }
  .social-icons{
    text-align: center;
  }
}


.carousel {
}
.item .thumb {
 width: 25%;
 cursor: pointer;
 float: left;
}
.item .thumb img {
width: 100%;
margin: 2px;
}
.item img {
width: 100%;
}

.item2 .thumb2 {
width: 50%;
cursor: pointer;
float: left;
}
.item2 .thumb2 img {
width: 100%;
margin: 2px;
}
.item2 img {
width: 100%;
}
.carousel-control.left{
  background-image:none;
}
.carousel-control.right{
  background-image:none;
}
.chover{
    font-family: 500;
    font-size: 25px;
    display: inline;
    color: white;
    padding: 1%;
    border: 2px solid #fff;
}

.col_tab_l{
  display:table;
  margin: 15px 0px 15px 0px;
}
.col_tab_body_l{
  display:table-cell;
  vertical-align: top;
}
.col_tab_r{
  display:table;
  position:relative;
  left:100px;
  margin: 15px 0px 15px 0px;
}
.col_tab_body_r{
  display:table-cell;
  vertical-align: top;
  /*position:relative;
  left:100px;*/
}
.h3_nm{
  margin:0px
}
.pcontent{
 position: absolute;
 top: 10%;
 left: 14px;
 padding: 5%;
}
.pname{
  color:black;
  font-size:50px;
  font-weight:500;
  text-align:left;
  line-height:48px;
  margin-bottom: 2px;
}
.pprice{
  color:black;
  font-size:27px;
  text-align:left;
}
.rimage{
  background:url('/assets/home/img/rp.png');
  height:725px;
  width:320px;
  float:right
}
.rquote{
  position:absolute;
  top:55px;
  text-align:right;
  font-size:28px;
  line-height:55px;
  z-index:999;
  background:white;
  width:205px;
  left:800px;
  padding:15px
}
.limage{
  background:url('/assets/home/img/rp.png');
  height:725px;
  width:320px;
  float:left
}
.lquote{
  position:absolute;
  top:148px;
  text-align:left;
  font-size:28px;
  line-height:55px;
  z-index:999;
  background:white;
  width:205px;
  left:-130px;
  padding:15px
}
.leftp{
  position:relative;
  left:0px;
}
@media screen and (min-width:300px) and (max-width:700px){
  .star{
    padding: 5%;
  }
  .mobico{
    padding:5%;
  }
  .rimage{
    display: none;
  }
  .limage{
    display: none;
  }
  .rquote{
    display: none;
  }
  .lquote{
    display: none;
  }
  .leftp{
    left:0;
  }
  .col_tab_r{
    left:0;
  }
}

// editan jovi

// .lquote{
//   position:absolute;
//   top:148px;
//   text-align:left;
//   font-size:28px;
//   line-height:55px;
//   z-index:999;
//   background:white;
//   width:205px;
//
//
// }

/* -----space section----- */
.details{
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
}
.details:hover{
  background: white;
  color: black;
}
img.picon{
  width: 100px;
}

/* -----Description section------*/

// @mixin border($border,$color) {
//   padding: 5%;
//   color: $color;
//   border:$border solid $color;
// }
//
// .coworking-logo-b{
//   @include border(5px,#000);
//   margin-top: 20px;
// }

@mixin border($border,$color) {
  padding: 5%;
  color: $color;
  border:$border solid $color;
}



.coworking-logo-w{
  @include border(5px,#fff);
  margin-top: 20px;
  > h1,h2,h3{
    color: #fff;
    text-align: center;
  }
}

.coworking-logo-b{
  @include border(5px,#000);
  margin: 20px;
  > h1,h2,h3{
    color: #000;
    text-align: center;
  }
}

/*------navbar------*/

//navbar
//------
nav.navbar.navbar-default{
  height: 75px;
  // background: transparent;
}
.navbar-default{

  border-color: transparent;
  transition: all 0.5s ease-in-out;
  box-shadow:none;
  // -webkit-box-shadow: 0 1px 1px 0px #999;
  //   -moz-box-shadow: 0 1px 1px 0px #999;
  //   box-shadow: 0 1px 1px 0px #999;
}

.navbar-nav > li{
  margin-left: 40px;

  a{
    text-transform: uppercase;
  }
}

.navbar-nav > li > a{
  color:white!important;
  &:hover{
    font-weight: bold;
    color:#fa9a0d!important;
  }


}

.active{
  color: $light-orange!important;
  background: transparent!important;
}
.navbar-default .navbar-nav>.active>a{
  background-color: transparent;
  color:$light-orange;
}
.nav>li>a:hover {
    background-color: transparent!important;
    color:$light-orange;
}

.navbar-btn{
  display: block;
  height: 40px;
  margin-top: 5px;
  padding-top: 9px!important;
  padding-bottom: 9px!important;
  margin-bottom: 5px;
}

.btn-transparent{
  border:1px solid $light-orange;
  background-color: transparent;
  text-transform: uppercase;
  @include font-color($light-orange);
  transition: all 0.2 ease!important;
  &:hover{
    background-color: $light-orange;
    opacity: 0.85;
    text-transform: uppercase;
    @include font-color(white);
  }
}


// .dropdown-backdrop {
//     position: static;
// }
// .navbar .container
// {
//   height: 50px;
// }
//
// a.smothScroll{
//   height: 65px;
// }

/*-----caraousel inner-----*/
.carousel-inner{
  .thumb{
    width: 25%;
    img{
      width:100px;
    }
  }
}

/*------Partners section---------*/
.partners{
  background-color: #fff;
  padding:40px 0px;

  .list-inline{
    li{
      margin: 5px;
    }
    img{
      width: 120px;
    }
  }
  a{
    color: #000;
    border: 1px solid #000;
    padding: 10px;
    font-size: 20px;

    &:hover{
      background-color: rgba(0, 0, 0, 0.75);
      box-shadow: 0px 3px 3px #000;
    }
  }
}

#location-mobile{
  display: none;
}

.star{
  background: url('/assets/home/img/bg.png');
  background-attachment: fixed;
}
