// Place all the styles related to the home_about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
  .container-full{
    height: 620px;
    padding-top:15%;
  }
  .button-down{
    position: absolute;
    bottom: -40%;
    right: 50%;
    font-size: 30px;
  }
}

.coworking-logo-w{
  h3:last-child{
    line-height: 3px;
  }
}

.title-about{
  letter-spacing: 1px;
  text-align: center;
  u{
    text-decoration: none;
    border-bottom: 2px solid #333333;
  }
}

.title-body{
  text-align: center;
  margin-top: 20px;
}

.media{
  text-align: justify;
}

.media-object{
  width: 70px;
}

.blurb{
  width:70px;
  margin-top: 20px;
}
/*-----------Desc section------------------*/
.desc{
  padding: 40px 0px 60px 0px;
}

/*-----Community Section------*/
.community{

  .container-full{
    background: #f9f9f9;

  }

}


.com-banner{
  background: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url("/assets/home/img/about/photo1.jpg");
  // background-image: ;
  .col-sm-6{
    padding: 12% 0%;
  }
}

/*------Space Section---------------------*/
.space{

  .container-full{
    background: #f9f9f9;

  }
}

// .icons{
//   margin-bottom: 50px;
// }

.more{
  transition: all 0.2s ease;
    a{
    font-size: 20px;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
    outline: none !important;

    span{
      display: none;
      transition: all 0.2s ease-in-out;
      margin-left: 5px;
    }

  }
  p{
    text-align: justify;
    margin-top: 10px;
  }
}

.btn-down{
  border-radius: 50%;
}

.space-banner{
  background: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url("/assets/home/img/about/photo2.jpg");
  // background-image: ;
  .col-sm-6{
    padding: 12% 0%;
  }
}

/*-----Tech section--------*/
.technology{

  .container-full{

    background: #f9f9f9;
  }
}

.tech-banner{
  background: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url("/assets/home/img/about/space1.jpg");
  // background-image: ;
  .col-sm-6{
    padding: 12% 0%;
  }
}
/*------End-----------------*/


/*------Member section----------*/
#member{

  .container{
    .row{
      padding-top: 20px;
    }
  }

  li{
    margin: 10px;
    img{
      width: 150px;
      height: 150px;
      transition: 0.5s;
    }
    img:last-child{
      display: none;
    }
  }

}


/*-------End---------*/

/*-------Others-----------*/
.jumbotron{
  height: 600px;
  background-attachment: fixed;
}
.jumbo-button{
  a{
    margin-left: 50%;
    color: #fff;
    a:hover{
      color: #696969;
    }
  }
}

.title-body{
  font-size: 18px;
  margin: 40px auto;
  width: 1000px;
}

.icons{
  margin-bottom: 40px;
}
.partners{
  margin-top: 20px;
}
@mixin width($val){
  width: $val;
}
.desc-width{
  @include width(700px);
}

/*carousel-control*/
.partners a:hover{
  box-shadow: none;
  background-color: transparent;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  border: none;
}

.glyphicon-chevron-left, .glyphicon-chevron-right{
  color: grey;
  font-size: 30px;
}


@media screen and (min-width:300px) and (max-width:700px){
  .header{
    .container-full{
      height: 400px;
      padding-top: 15%;
    }
    .coworking-logo-w{
      h1{
        font-size: 30px;
      }
      h2{
        font-size: 21px;
      }
      h3{
        font-size: 18px;
      }
    }
  }

  /*-----------Desc section------------------*/
  .desc{
    padding: 40px 0px 60px 0px;
  }

  /*-----Community Section------*/
  .community{

    h1{
      font-size: 30px;
    }
    .title-body{
      margin-top:10px;
    }

    .container{

    }
  }
  .com-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url("/assets/home/img/about/photo1.jpg");
    // background-image: ;
    .col-sm-6{
      padding: 25% 0%;
    }
  }

  /*------Space Section---------------------*/
  .space{

    h1{
      font-size: 30px;
    }
    .title-body{
      margin-top: 10px;
    }

    .container{

    }
  }
  .space-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url("/assets/home/img/about/photo2.jpg");
    // background-image: ;
    .col-sm-6{
      padding: 25% 0%;
    }
  }

  /*-----Tech section--------*/
  .technology{

    h1{
      font-size: 30px;
    }
    .title-body{
      margin-top: 10px;
    }

  }
  .tech-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url("/assets/home/img/about/space1.jpg");
    // background-image: ;
    .col-sm-6{
      padding: 25% 0%;
    }
  }
  /*--------Member section-----------------*/
  .member{

    h1{
      font-size: 30px;
    }
    .container{
      .row{
        padding-top: 10px;
      }
    }
    #members{

      img{
        width: 75px;
        height: 75px;
      }
    }
  }

  .member-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url("/assets/home/img/about/photo3.jpg");
    // background-image: ;
    .col-sm-6{
      padding: 25% 0%;
    }
  }
  /*--------other------------------*/
  .more{
    transition: all 0.2s ease;
      a{
      font-size: 18px;
      margin-top: 10px;
      transition: all 0.2s ease-in-out;
      outline: none !important;

      span{
        display: none;
        transition: all 0.2s ease-in-out;
        margin-left: 5px;
      }

    }
    p{
      text-align: justify;
      margin-top: 10px;
    }
  }
  .jumbotron{
    height: 400px;
    background-attachment: fixed;
  }

  .desc-width{
    @include width(90vw);
  }
  .title-body{
    width: 100%;
  }
}
