// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "partials";

.bg-new-profile{
  background-image: none;
}

.new-profile{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;

  .column{
    width: 400px;
    height: 585px;

  }
}
.new{
  form{
    padding-top: 4%;

    select{
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      outline:none;
      box-shadow:none;
      background-color: white!important;
      background: url("/assets/home/img/down-arrow.png") no-repeat 97% center;
      padding:5px 10px;
      border-radius:4px;
      width: 60%;
      height: 30px;
    }
  }
  label{
    display: block;
  }
}

.edit{
  @extend .new;
  margin-top: 30px;
  padding: 0 5%;
  form{
    select{
      width: 40%;
      background-color:white;
    }
  }
}

.img-header{
  background-image: url("/assets/home/img/bg.png");
  opacity: 0.85;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  img{

  }
  h1{
    @include centerer;
  }
  p{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.profile-form{
  background: #f9f9f9;
  padding: 0 5%;
}

.image-form{
  width: 100%;
}

/*Edit Profile Section*/
.bg-white{
  background: white;
}

.profile{
  position: relative;
}

.profile-settings{
  position: absolute;
  top: 3%;
  right: 3%;
  transition: all 0.2s ease-in-out;
  &:hover{
    opacity: 0.75;
  }
}

.profile-details{
  padding: 0;
  li{
    list-style-type: none;
    border-bottom: 1px solid #E6E9EC;
    margin-top: 10px;
    &:last-child{
      border-bottom: none;
    }
  }
}
/*End*/

@media screen and (min-width:300px) and (max-width:700px) {
  .bg-new-profile{
    background: url('/assets/home/img/bg.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
  }

  .new-profile{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;

    .column{
      width: 90%;
      height: 100%;

    }
  }

  .img-header{
    display: none;

  }
}
