//colors
$color_gallery_approx: #eee;
$black_20: rgba(0,0,0,0.2);
$color_emerald_approx: #2ecc71;
$white: white;
$color_zest_approx: #e67e22;

* {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
.columns {
	float: left;
	width: 25%;
	padding: 8px;
}
.price {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 10px;
	list-style-type: none;
	// border: 1px solid $color_gallery_approx;
	margin: 0;
	padding: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: 0.3s;
	&:hover {
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 8px 12px 0 $black_20;
	}
	.header {
		background-color: $color_emerald_approx;
		color: $white;
		font-size: 25px;
	}
	li {
		border-bottom: 1px solid $color_gallery_approx;
		padding: 20px;
		text-align: center;
	}
	.grey {
		background-color: $color_gallery_approx;
		font-size: 20px;
	}
}
.button {
	background-color: $color_zest_approx;
	border: none;
	color: $white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
}
.columns {
    float: left;
    width: 100%;
    padding: 8px;
}
@media only screen and(max-width: 600px) {
	.columns {
		width: 100%;
	}
}

@media (min-width: 768px) {
    .affix {
        position: fixed;
    }
    .aimage{
      width:330px;
      /*width:100%;*/
    }

    .pform{
        background:rgba(255, 255, 255, 0.92);
        padding:1% 1% 1% 1%;
        border-radius:1%;
    }

}
@media (max-width: 767px) {
    .affix {
        position: static;
    }
    .aimage{
      /*width:330px;*/
      width:100%;
    }
    .pform{
      position: static;
      background:rgba(255, 255, 255, 0.92);
      border-radius:3%;
    	padding: 1% 2% 1% 2%;
    }
}

.h2Underlined {
    padding-bottom: .625rem;
    border-bottom: .125rem solid currentColor;
    margin-bottom: 1.125rem;
}
