@import "partials";

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #333;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #333;
}
:-moz-placeholder { /* Firefox 18- */
  color: #333;
}
.bg{
  background: url('/assets/home/img/ch.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg{
  background: url('/assets/home/img/pn.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

/*----form----*/
.panel-transparent{
  background: none;
}

.sign-form{
  background: rgba(202,203,204,0.8)!important;
  img{
    text-align: center;
  }

  .form-group{
    input{
      border: none;
      border-bottom: 2px solid #333;
      outline: none;
      box-shadow: none;
      border-radius: 0;
      background: none;
      font-size: 18px;
      transition: all 0.2s;
      margin:35px 0px;
      color:#333;
      &:focus{
        border-bottom: 2px solid $orange;
      }

    &::-webkit-input-placeholder{
      color:#333;
    }
    }
  }
}

.sign-other-action{
  text-align: center;
  margin: 15px 0px;
}
/*----end----*/

.btn-sign{
  margin: 0 auto;
  width: 200px;
  box-shadow:0px 5px 5px #888;
}
