<div class="container">
  <div class="row">
    <% @plan.each do |plan| %>
    <%= link_to "Generate Event #{plan.name}"  ,{ :controller => "purchases", :action => "new", :plan => plan.id}, :class=>'btn btn-app'  %>
    <% end %>
    
  </div>
</div>
