<%= form_for [:admins,@booking], :html => { :class => "form-horizontal booking" } do |f| %>

  <% if @booking.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @booking.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <!--  <%= f.text_field :user_id, :class => 'form-control' %>-->
       <%= f.collection_select :user_id, User.order(:email),:id,:email,:class => 'form-control' %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>
  <div class="form-group">
    <%= f.label :room_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">

      <%= f.collection_select :room_id, Room.order(:name),:id,:name,:class => 'form-control' %>
    </div>
    <%=f.error_span(:room_id) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :start_book, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
     <%= f.text_field :start_book, class: 'form-control datetimepicker', id:'start_book', data: { date_format: 'DD-MM-YYYY HH:mm' } %>
     <!-- <%= f.text_field :start_book, :class => 'form-control' %>-->
         <%=f.error_span(:start_book) %>
    </div>

  </div>
  <div class="form-group">
    <%= f.label :end_book, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <%= f.text_field :end_book, class: 'form-control datetimepicker', id:'end_book', data: { date_format: 'DD-MM-YYYY HH:mm' } %>
      <!--<%= f.text_field :end_book, :class => 'form-control' %>-->
         <%=f.error_span(:end_book) %>

    </div>
   </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admins_bookings_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
<script type="text/javascript">
            $(function () {
                $('#start_book').datetimepicker({
                });
                 $('#end_book').datetimepicker({
                });
            });
        </script>
