<%- model_class = Booking -%>
<div class="box-header with-border">
  <h3 class="box-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>
<div class="col-md-12">
<div id="bcalendar"></div>
</div>
<div class="col-md-12">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admins_booking_path,
            :class => 'btn btn-success' %>
<div class="box-body table-responsive no-padding">
<table class="table table-striped" id="meeting">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:room_id) %></th>
      <!--<th><%= model_class.human_attribute_name(:description) %></th>-->
      <th><%= model_class.human_attribute_name(:start_book) %></th>
      <th><%= model_class.human_attribute_name(:end_book) %></th>
    <!--<th><%= model_class.human_attribute_name(:created_at) %></th>-->
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= link_to booking.id, admins_booking_path(booking) %></td>
        <td><%= booking.user.profile.fullname %></td>
        <td><%= booking.room.name %></td>
        <!--<td><%= booking.description %></td>-->
        <td><%= booking.start_book %></td>
        <td><%= booking.end_book %></td>
       <!-- <td><%= booking.created_at %></td>-->
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      admins_booking_path(booking), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admins_booking_path(booking), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admins_booking_path(booking),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<script type="text/javascript">
    $("#bcalendar").fullCalendar({
        header:{
         left: 'prev,next today',
        center: 'title',
        right: 'month,agendaDay,listDay',
    },
    eventSources:[
      {url:'/admins/bookings.json'}
    ]
    });
    $(document).ready(function() {
      $('#meeting').dataTable();
    });
</script>
