<%= form_for [:admins,@event], :html => { :multipart => true, :class => "form-horizontal event" } do |f| %>

  <% if @event.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => 'form-control', :id => 'event_text' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :start_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10"> 
      <!--<%= f.text_field :start_date, :class => 'form-control', 'id' => 'start_date' %>-->
      <%= f.text_field :start_date, class: 'form-control datetimepicker', id:'start_date', data: { date_format: 'DD-MM-YYYY HH:mm' } %>
    </div>
    <%=f.error_span(:start_date) %>
  </div>
  <div class="form-group">
    <%= f.label :end_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
     <!-- <%= f.text_field :end_date, :class => 'form-control', 'id' => 'end_date' %>-->
       <%= f.text_field :end_date, class: 'form-control datetimepicker', id:'end_date', data: { date_format: 'DD-MM-YYYY HH:mm' } %>
    </div>
    <%=f.error_span(:end_date) %>
  </div>

  <div class="form-group">
    <%= f.label :image, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :image, :class => 'form-control' %>
    </div>
    <%=f.error_span(:image) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
<script type="text/javascript">
    $('#event_text').wysihtml5();
            $(function () {
                $('#start_date').datetimepicker({
                });
                 $('#end_date').datetimepicker({
                });
            });
        </script>
