<%- model_class = Event -%>
<div class="box-header with-border">
  <h3 class="box-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="col-md-6">
<div id="ecalendar"></div>
</div>
<div class="col-md-6">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admins_event_path,
            :class => 'btn btn-block btn-success' %>
<div class="box-body table-responsive no-padding">            
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <!--<th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:start_date) %></th>
      <th><%= model_class.human_attribute_name(:end_date) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>-->
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.id, event_path(event) %></td>
        <td><%= event.name %></td>
        <!--<td><%= event.description %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td><%=l event.created_at %></td>-->
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      admins_event_path(event), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admins_event_path(event), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admins_event_path(event),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @events, :theme => 'twitter-bootstrap-3' %>
</div>
</div>
<script type="text/javascript">
    $("#ecalendar").fullCalendar({
        header:{
         left: 'prev,next today',
        center: 'title',
        right: 'month,agendaDay,listDay',
    },
    eventSources:[
      {url:'/admins/events.json'}
    ]
    });
</script>