<div class="col-md-12">
  <p>Monthly occupancy generator</p>
  <%= link_to 'Generate occupancy rate', new_admins_generator_path, :class => 'btn btn-default btn-success' %>
<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>plan name</th>
      <th>Month</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>
  <tbody>
    <% @generators.each do |generator| %>
      <tr>
        <td><%= link_to generator.id , admins_generator_path(generator) %></td>
        <td><%= generator.plan_name %></td>
        <td><%= generator.start_date.strftime("%B") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
