<p>Company Invoice Generator</p>
<br>
<%= form_for [:admins,@generator], html: {class: "pure-form"} do |f| %>
  <div class="form-group">
    <%= f.label :plan_name %>
    <%= f.select :plan_name, options_for_select(@plans), :include_blank => true, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.date_field :start_date, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Generate", :class => 'btn btn-primary' %>
  </div>
<% end %>
