<div class="col-md-12">
<p><%= @generator.start_date.strftime("%B") %></p>
 <% @generator.search_suborders.each do |f| %>
  <p><%= f.plan_name %></p>
  <p>Occupancy: <%= f.myval * 100 %> %</p>
  <%  end  %>
</div>
