<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js" ></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".people_select").select2({
    placeholder:'Select person'
  });
  $(".company_select").select2({
    placeholder:'Select company'
  });
});
</script>
 <%= form_for(@helpdesk,:html => {:id => "msform"})  do |f| %>
<!-- progressbar -->
<ul id="progressbar">
<li class="active">Step 1</li>
<li class="active">Step 2</li>
<li class="active">Step 3</li>
<li class="active">Step 4</li>
</ul>
<!-- fieldsets -->
<fieldset>
<h2 class="fs-title">Step 1</h2>
<h3 class="fs-subtitle">Enter your name and company</h3>
<%= f.text_field :full_name, :placeholder => 'Full name' %>
<%= f.text_field :company, :placeholder => 'Company' %>
<input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
<fieldset>
<h2 class="fs-title">Step 2</h2>
<h3 class="fs-subtitle">Input your personal details</h3>
<%= f.text_field :phone, :placeholder => 'phone' %>
<%= f.text_field :email, :placeholder => 'email' %>
<input type="button" name="previous" class="previous action-button" value="Previous" />
<input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
<fieldset>
<h2 class="fs-title">Step 3</h2>

<h3 class="fs-subtitle">Who you are looking to</h3>
<!-- <p style="font-size:13px">Company</p> -->
<%= f.collection_select(:company_id, Company.all, :id, :name, { :include_blank => true} ,{:style => "width:100%;margin-bottom:5%;display:none", :class => 'company_select'})  %>
<!-- <p style="font-size:13px">Person</p> -->
<%= f.collection_select(:user_id, Profile.all, :user_id, :fullname, { :include_blank => true } ,{:style => "width:100%;margin-bottom:5%;display:none", :class => 'people_select'})  %>
<%= f.text_area :note, :placeholder => 'note' %>

<input type="button" name="previous" class="previous action-button" value="Previous" />
<input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
<fieldset>
<h2 class="fs-title">Step 4</h2>

<h3 class="fs-subtitle">Input your personal details</h3>
<%=  f.select(:interest, [['Shared Space', 'Shared Space'], ['Dedicated Desk', 'Dedicated Desk'],['Private Office','Private Office'],['Event Space','Event Space'],['Meeting Room','Meeting Room']], {}, { :class => 'cselect'}) %>

<%= f.text_area :source, :placeholder => 'How do you know us' %>
<input type="button" name="previous" class="previous action-button" value="Previous" />
<%= f.submit 'Submit' ,:class =>"next action-button" %>
</fieldset>
<% end %>

<script>

$(function() {

//jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches

$(".next").click(function(){
if(animating) return false;
animating = true;

current_fs = $(this).parent();
next_fs = $(this).parent().next();

//activate next step on progressbar using the index of next_fs
$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

//show the next fieldset
next_fs.show();
//hide the current fieldset with style
current_fs.animate({opacity: 0}, {
step: function(now, mx) {
//as the opacity of current_fs reduces to 0 - stored in "now"
//1. scale current_fs down to 80%
scale = 1 - (1 - now) * 0.2;
//2. bring next_fs from the right(50%)
left = (now * 50)+"%";
//3. increase opacity of next_fs to 1 as it moves in
opacity = 1 - now;
current_fs.css({'transform': 'scale('+scale+')'});
next_fs.css({'left': left, 'opacity': opacity});
},
duration: 800,
complete: function(){
current_fs.hide();
animating = false;
},
//this comes from the custom easing plugin
easing: 'easeInOutBack'
});
});

$(".previous").click(function(){
if(animating) return false;
animating = true;

current_fs = $(this).parent();
previous_fs = $(this).parent().prev();

//de-activate current step on progressbar
$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

//show the previous fieldset
previous_fs.show();
//hide the current fieldset with style
current_fs.animate({opacity: 0}, {
step: function(now, mx) {
//as the opacity of current_fs reduces to 0 - stored in "now"
//1. scale previous_fs from 80% to 100%
scale = 0.8 + (1 - now) * 0.2;
//2. take current_fs to the right(50%) - from 0%
left = ((1-now) * 50)+"%";
//3. increase opacity of previous_fs to 1 as it moves in
opacity = 1 - now;
current_fs.css({'left': left});
previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
},
duration: 800,
complete: function(){
current_fs.hide();
animating = false;
},
//this comes from the custom easing plugin
easing: 'easeInOutBack'
});
});

$(".submit").click(function(){
return false;
})

});
</script>
