<div class="container">
<h1>Guest Book</h1>

<table class="table">
  <thead>
    <tr>
      <th>Full name</th>
      <th>Company</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @helpdesks.each do |helpdesk| %>
      <tr>
        <td><%= helpdesk.full_name %></td>
        <td><%= helpdesk.company %></td>
        <td><%= helpdesk.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Guest', new_helpdesk_path, :class =>'btn btn-success btn-block' %>

</div>
