<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Full name:</strong>
    <%= @helpdesk.full_name %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= @helpdesk.company %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @helpdesk.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @helpdesk.email %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @helpdesk.user.profile.fullname %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @helpdesk.note %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= @helpdesk.admin_id %>
  </p>

  <%= link_to 'Edit', edit_helpdesk_path(@helpdesk) %> |
  <%= link_to 'Back', helpdesks_path %>

</div>
