<%= form_for @plan, :html => { :class => "form-horizontal plan" } do |f| %>

  <% if @plan.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @plan.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :payment_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:payment_id) %>
  </div>
  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:price) %>
  </div>
  <div class="form-group">
    <%= f.label :deposit, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :deposit, :class => 'form-control' %>
    </div>
    <%=f.error_span(:deposit) %>
  </div>
  <div class="form-group">
    <%= f.label :period, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :period, :class => 'form-control' %>
    </div>
    <%=f.error_span(:period) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                plans_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
