<div class="container">
<div class="page-header">
 <h1>Plans available </h1>
</div>
<div class="container">
   <% @plans.each do |plan| %>
   <div class="columns">
  <ul class="price">
    <li class="header"><%= plan.name %></li>
    <li class="grey"><%= number_to_currency(plan.price, unit:"RP ") %></li>
    <li><%= plan.description.html_safe %></li>
    <li class="grey"><%= link_to "Buy now",{ :controller => "purchases", :action => "new", :plan => plan.id}, :class=>'button' %></li>
  </ul>
</div>
   <% end %>

   <div id="ajax">
   </div>
</div>
</div>
