<div class="container mc" style="margin-top:80px">

  <div class="col-xs-12">
  </div>
  <div class="col-xs-4" data-spy="affix" data-offset-top="205">
    <h3><%= @plan.name %></h3>
    <p>___________</p>
    <p><%=  number_to_currency(@plan.price.to_f, :unit => "IDR ", :precision => 0).to_s %>/<%= options_for_period[@plan.period-1][0] %></p>
    <h3>Location</h3>
    <p>___________</p>
    <p><%= Setting.where('admin_id = ?',@plan.admin_id).pluck(:name).join(", ") %></p>
    <p><%= Setting.where('admin_id = ?',@plan.admin_id).pluck(:address).join(", ").html_safe %></p>
    <p><%= Setting.where('admin_id = ?',@plan.admin_id).pluck(:phone).join(", ").html_safe %></p>
  </div>
  <div class="col-xs-8">
    <h3>Description</h3>
    <p>___________</p>
    <p><%= @plan.description.html_safe %></p>
    <p><%= @plan.deposit %></p>
    <h3>Benefits</h3>
    <p>___________</p>
    <li><%= link_to "The Maja", root_url(subdomain: Admin.where('id = ?',@plan.admin_id).pluck(:subdomain).join(", ")), {:controller => "purchases", :action => "new", :plan => @plan.id  }%></li>

    <p><%= Admin.where('id = ?',@plan.admin_id).pluck(:subdomain).join(", ") %></p>

  </div>


</div>
