<%= form_for @enquiry, :html => { :class => "form-horizontal enquiry" } do |f| %>

  <% if @enquiry.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@enquiry.errors.count, "error") %> prohibited this enquiry from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @enquiry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
<!--   <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>
  <div class="form-group">
    <%= f.label :admin_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :admin_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:admin_id) %>
  </div> -->

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                enquiries_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
