<div class="container mc">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_enquiry_path,
            :class => 'btn btn-block btn-success' %>
<%- model_class = Enquiry -%>

  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
<!--  <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:admin_id) %></th> -->
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @enquiries.each do |enquiry| %>
      <tr>
        <td><%= link_to enquiry.id, enquiry_path(enquiry) %></td>
        <td><%= enquiry.title %></td>
<!--         <td><%= enquiry.description %></td>
        <td><%= enquiry.user_id %></td>
        <td><%= enquiry.admin_id %></td> -->
        <td><%=l enquiry.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      enquiry_path(enquiry), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_enquiry_path(enquiry), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      enquiry_path(enquiry),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
