<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <% if current_space.try(:setting).nil? %>
      <%= current_space.try(:subdomain) %>
      <% else %>
      <%= current_space.setting.try(:name) %> <% end %> | Coworking Space</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Font Awesome -->
  <!-- <link rel="stylesheets" href="/assets/dist/css/skins/skin-green.min.css">
  <link rel="stylesheet" href="/assets/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/assets/dist/css/skins/skin-blue.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css"> -->
  <script src="https://use.fontawesome.com/b3cd5b2d5a.js"></script>
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<script src="/assets/plugins/slimScroll/jquery.slimscroll.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="/admins" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><%= current_space.try(:subdomain) %></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->

          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="/img/user.png" class="user-image">


              <span class="hidden-xs"><%= current_space.try(:subdomain) %></span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <%= image_tag current_space.setting.logo.try(:thumb), :class => 'img-circle responsive' if !current_space.try(:setting).nil? %>
                <p><%= current_space.setting.try(:google_maps)  if !current_space.try(:setting).nil? %></p>
              </li>
              <!-- Menu Body -->
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <%= link_to 'Profile', edit_admin_registration_path, :class => "btn btn-default btn-flat" %>
                </div>
                <div class="pull-right">
                <%= link_to 'Sign out', destroy_admin_session_path, :class => "btn btn-default btn-flat" %>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">

        <div class="pull-left image">
          <%= image_tag current_space.setting.try(:logo), :class => 'img-responsive'  if !current_space.try(:setting).nil?  %>
          <!-- <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> -->
        </div>

        <div class="pull-left info">
          <p><%= current_space.try(:subdomain) %></p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- search form (Optional)
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
/.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">CMS / Layout</li>
        <li class="treeview">
          <%= link_to ('<i class="fa fa-clone"></i><span>Banners</span>').html_safe, admins_banners_path %>
        </li>
        <li class="treeview">
          <%= link_to ('<i class="fa fa-window-maximize"></i><span>Testimonials</span>').html_safe, admins_testimonials_path %>
        </li>
        <li class="treeview">
          <%= link_to ('<i class="fa fa-file-o"></i><span>Abouts</span>').html_safe, admins_abouts_path %>
        </li>
        <li class="header">Statistic</li>
        <li class="treeview">
          <%= link_to ('<i class="fa fa-bar-chart"></i><span>Report</span>').html_safe, admins_root_path %>
        </li>
        <li class="treeview">
          <%= link_to ('<i class="fa fa-area-chart"></i><span>Statistic</span>').html_safe, admins_statistic_index_path %>
        </li>
        <li class="treeview">
          <%= link_to ('<i class="fa fa-area-chart"></i><span>Occupancy</span>').html_safe, admins_generators_path %>
        </li>
        <li class="treeview">
          <%= link_to ('<i class="fa fa-address-book"></i><span>Lead</span>').html_safe, admins_contacts_path %>
        </li>
        <li class="header">Room & Booking</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="treeview">
          <%= link_to ('<i class="fa fa-th"></i><span>Booking</span>').html_safe, admins_bookings_path %>
        </li>
        <li class="treeview">
          <%= link_to ('<i class="fa fa-university"></i><span>Room</span>').html_safe, admins_rooms_path %>
        </li>
        <li class="header">Plan & Payment</li>
        <li class="treeview">
          <%= link_to ('<i class="fa fa-clone"></i><span>Plan</span>').html_safe, admins_plans_path %>
        </li>
        <li class="treeview">
          <%= link_to ('<i class="fa fa-credit-card"></i><span>Payment Method</span>').html_safe, admins_payments_path %>
        </li>
         <li class="treeview">
          <%= link_to ('<i class="fa fa-calendar"></i><span>Event</span>').html_safe, admins_events_path %>
        </li>
        <li class="header">User and Companies</li>
        <li class="treeview">
          <%= link_to ('<i class="fa fa-building"></i><span>Company</span>').html_safe, admins_companies_path %>
        </li>
        <li class="treeview">
          <%= link_to ('<i class="fa fa-user"></i><span>User</span>').html_safe, admins_users_path %>
        </li>
        <li class="treeview">
          <%= link_to ('<i class="fa fa-handshake-o" aria-hidden="true"></i><span>Benefits</span>').html_safe, admins_benefits_path %>
        </li>
        <li class="header">Settings</li>
        <li class="treeview">
          <%= link_to ('<i class="fa fa-gear"></i><span>Settings</span>').html_safe, admins_settings_path %>
        </li>



      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Administrator area
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box box-primary">
        <div class="box-body">
      <%= yield %>
        </div>
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Created with Passion
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#"><%= current_space.try(:subdomain) %></a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
</body>
</html>
