<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>
    <% if !current_space.nil? %>
      <%= current_space.setting.name if current_space.setting.try(:name).present? %>
    <% else %>
      VC-backed Coworking Space in Jakarta & BSD, with community as its core value.
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <link rel="stylesheet" href="/assets/home/css/main.css"> -->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
<!-- icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

<link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mb.YTPlayer/3.0.12/jquery.mb.YTPlayer.js"></script>

<meta name="description" content="Is a VC-backed Coworking Space in Jakarta & BSD, with community as its core value. We aim to connect entrepreneurs and help them to grow their startups.">
<% if content_for?(:head) %>
  <%= yield(:head) %>
<% end %>


</head>
<body>
<!--added navigation bar -->
  <% if !current_space.nil? %>
      <%= render "parts/nav" %>
  <% else %>
      <%= render "parts/home" %>
  <% end %>
<!-- end nav bar -->
<div class="container">
<% if notice %>
  <div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Warning ! </strong><%= notice %>
  </div>
 <% end %>
 <% if alert %>
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Warning ! </strong><%= alert %>
  </div>
 <% end %>
</div>
<div class="container-full">

<%= yield %>

</div>
<% if current_space.nil? %>
  <%= render "parts/foot" %>
<% end %>
<!-- <div class="btn-group-sm hidden" id="mini-fab">
        <a href="#" class="btn btn-warning btn-fab" data-toggle="modal" data-target="#modals" data-placement="left" data-original-title="SMS" title="" id="sms">
          <i class="material-icons">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9Z" />
            </svg>
          </i>
        </a>
        <a href="mailto:info@evhive.co" class="btn btn-danger btn-fab" data-toggle="tooltip" data-placement="left" data-original-title="Mail" title="" id="mail">
          <i class="material-icons">
             <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M4,8L12,13L20,8V8L12,3L4,8V8M22,8V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V8C2,7.27 2.39,6.64 2.97,6.29L12,0.64L21.03,6.29C21.61,6.64 22,7.27 22,8Z" />
            </svg>
          </i>
        </a>
      </div>
      <div class="btn-group">
        <a href="javascript:void(0)" class="btn btn-success btn-fab" id="main">
          <i class="material-icons">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
            </svg>
          </i>
        </a>
      </div> -->
</body>
<script type="text/javascript">
$("#main").click(function() {
$("#mini-fab").toggleClass('hidden');
});
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
<script src="/assets/home/js/smoothscroll.js"></script>
<script type="text/javascript">
$(".alert").fadeTo(2000, 500).slideUp(500, function(){
    $(".alert").alert('close');
});
</script>
</html>
