<body class="bg">
<div class="col-md-4 col-md-offset-4">
<%= bootstrap_devise_error_messages! %>
<div class="panel panel-transparent devise-bs">
  <!-- <div class="panel-heading">
    <h4><%= t('.sign_up', :default => "Sign up") %></h4>
  </div> -->
  <div class="panel-body sign-form">
    <!-- <img src="/assets/stylesheets/home/img/evhivebigger.png" width="200"> -->
    <h3 class="text-center"><%= t('.sign_up', :default => "Sign up") %></h3>
    <!-- form start here -->
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>
      <div class="form-group">
        <!-- <%= f.label :email %> -->
        <%= f.email_field :email, autofocus: true, class: "form-control",placeholder: "Your email" %>
      </div>
      <div class="form-group">
        <!-- <%= f.label :password %> -->
        <%= f.password_field :password, class: "form-control",placeholder: "Your password" %>
      </div>
      <div class="form-group">
        <!-- <%= f.label :password_confirmation %> -->
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Repeat your password" %>
      </div>
      <div style="text-align:center;">
        <%= f.submit t('.sign_up', :default => "Sign up"), class: "btn-sign cta1" %>
      </div>
    <% end %>
    <!-- form end here -->
    <div class="sign-other-action">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>

</div>
</body>
